@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  left: -999999px;
  top: 0;
  opacity: 0;
}

fieldset {
  border: none;
}

#header {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
#header .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#header .inner h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#header .inner h1 a {
  font: bold 30px/1 "DM Serif Display";
  color: #333;
  letter-spacing: 2px;
}
#header .inner .menuWeb {
  display: block;
}
#header .inner .menuWeb #gnbWeb {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  display: block;
}
#header .inner .menuWeb #gnbWeb li {
  float: left;
  margin-left: 60px;
}
#header .inner .menuWeb #gnbWeb li a {
  font: bold 12px/1 "arial";
  color: #a0a0a0;
  transition: 0.25s;
}
#header .inner .menuWeb #gnbWeb li:hover a {
  color: #333;
}
#header .inner .menuWeb .joinWeb {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#header .inner .menuWeb .joinWeb li {
  float: left;
  margin-left: 30px;
}
#header .inner .menuWeb .joinWeb li a {
  font: normal 12px/1 "arial";
  color: #999;
  transition: 0.5s;
}
#header .inner .menuWeb .joinWeb li a i {
  margin-right: 5px;
  font-size: 15px;
  transform: translateY(2px);
}
#header .inner .menuWeb .joinWeb li:hover a {
  color: #333;
}
#header .inner .btnCall {
  display: none;
}
#header .inner .menuMo {
  display: none;
}

.content {
  width: 100%;
  padding: 0 0 100px;
  overflow: hidden;
}
.content .sub_visual {
  width: 100%;
  height: 40vh;
}
.content .inner {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

#footer_sub {
  width: 100%;
  height: 500px;
  background: #e9e9e9;
  overflow: hidden;
}
#footer_sub::after {
  content: "";
  display: block;
  clear: both;
}
#footer_sub .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 50px 0 50px;
}
#footer_sub .inner h1 {
  display: inline-block;
  font: bold 30px/1 "DM Serif Display";
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 50px;
}
#footer_sub .inner .wrap_util {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 120px;
  left: 5px;
}
#footer_sub .inner .wrap_util::after {
  content: "";
  display: block;
  width: 1180px;
  height: 1px;
  background: #ccc;
  position: absolute;
  bottom: -70px;
  left: -10px;
}
#footer_sub .inner .wrap_util ul {
  float: left;
  margin-right: 100px;
}
#footer_sub .inner .wrap_util ul:last-child {
  margin-right: 0;
}
#footer_sub .inner .wrap_util ul li {
  margin-bottom: 25px;
}
#footer_sub .inner .wrap_util ul li a {
  font: 15px/1 "arial";
  color: #555;
}
#footer_sub .inner .wrap_util ul li a:hover {
  text-decoration: underline;
}
#footer_sub .inner .wrap_news {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 120px;
  right: 0;
}
#footer_sub .inner .wrap_news span {
  display: block;
  margin-bottom: 50px;
  font: bold 15px/1 "arial";
}
#footer_sub .inner .wrap_news span i {
  font-size: 12px;
  margin-right: 5px;
}
#footer_sub .inner .wrap_news input {
  width: 100%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #999;
  margin-bottom: 30px;
}
#footer_sub .inner .wrap_news a {
  display: block;
  width: 150px;
  height: 40px;
  background: rgba(75, 105, 100, 0.85);
  border-radius: 20px;
  font: normal 15px/40px "arial";
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
#footer_sub .inner .wrap_news a:hover {
  background: #4b6964;
}
#footer_sub .inner p {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#footer_sub .inner .sns {
  float: right;
  width: 280px;
  height: 20px;
  position: absolute;
  bottom: 40px;
  right: 0;
}
#footer_sub .inner .sns span {
  float: left;
  margin-right: 50px;
}
#footer_sub .inner .sns ul li {
  float: left;
  margin-right: 15px;
  display: flex;
}
#footer_sub .inner .sns ul li:last-child {
  margin-right: 0;
}
#footer_sub .inner .sns ul li a {
  font-size: 20px;
  color: rgba(51, 51, 51, 0.8);
}
#footer_sub .inner .sns ul li:hover a {
  color: #333;
}

.notice .sub_visual {
  background: #eee;
  position: relative;
  padding: 50px;
}
.notice .sub_visual h1 {
  font: 30px/1 "DM Serif Display";
  position: absolute;
  bottom: 20px;
}
.notice .inner table {
  width: 100%;
  padding: 20px;
}
.notice .inner table th {
  text-align: left;
  font: 20px/1 "arial";
  color: #444;
  padding: 20px 0;
}
.notice .inner table td {
  text-align: left;
  font: 12px/1.5 "arial";
  color: #777;
  padding: 0 20px;
  display: none;
  border: 3px solid chocolate;
}
.notice .inner table td.on {
  display: block;
}

.about .sub_visual {
  width: 100%;
  height: 40vh;
  background: url(../img/history.jpeg) no-repeat center/cover fixed;
}
.about .sub_visual > .wrap {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.about .sub_visual > .wrap .con {
  width: 50%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.about .sub_visual > .wrap .con h2 {
  font: bold 40px/1 "arial";
  color: #fff;
  margin-bottom: 20px;
}
.about .sub_visual > .wrap .con p {
  color: #ddd;
  font: normal 13px/1.4 "arial";
  letter-spacing: 1px;
}
.about .inner .about {
  width: 1180px;
  height: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.about .inner .about .wrap {
  width: 100%;
  height: 250px;
  margin-bottom: 60px;
}
.about .inner .about .wrap article {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f9f9f9;
}
.about .inner .about .wrap article:hover .con h3 {
  color: #ff7c4d;
}
.about .inner .about .wrap article:hover .con h3::after {
  width: 25%;
}
.about .inner .about .wrap article img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  display: block;
  float: left;
  transition: 1s;
  z-index: 1;
}
.about .inner .about .wrap article > .con {
  width: 60%;
  padding: 30px;
  display: block;
  float: right;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  z-index: 2;
  border-top-left-radius: 40px;
}
.about .inner .about .wrap article > .con h3 {
  font: bold 25px/1 "arial";
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #444;
  transition: 0.7s;
}
.about .inner .about .wrap article > .con h3::after {
  content: "";
  display: block;
  background: coral;
  width: 0;
  height: 1px;
  position: absolute;
  top: 65px;
  transition: 0.7s;
}
.about .inner .about .wrap article > .con p {
  font: normal 14px/1.5 "arial";
  color: #777;
  text-align: left;
}
.about .inner .about .wrap article > .con p::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  color: #4b6464;
}
.about .inner .about .wrap:nth-of-type(2) article:hover .con h3::after {
  width: 30%;
}
.about .inner .about .wrap:nth-of-type(2) article img {
  float: right;
}
.about .inner .about .wrap:nth-of-type(2) article > .con {
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  border-top-left-radius: 0px;
  border-top-right-radius: 40px;
}
.about .inner .about .wrap:nth-of-type(2) article > .con h3 {
  text-align: right;
}
.about .inner .about .wrap:nth-of-type(2) article > .con h3::after {
  content: "";
  display: block;
  background: coral;
  width: 0%;
  height: 1px;
  position: absolute;
  top: 65px;
  right: 30px;
  transition: 0.7s;
  transform-origin: right;
}
.about .inner .about .wrap:nth-of-type(2) article > .con p {
  text-align: right;
}
.about .inner .service {
  width: 100%;
  padding: 100px 0;
  background: #F9F9F9;
  margin-bottom: 100px;
}
.about .inner .service .wrap {
  width: 1180px;
  height: 550px;
  margin: 0 auto;
}
.about .inner .service .wrap h3 {
  font: bold 35px/1 "arial";
  color: #111;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.about .inner .service .wrap h3::before {
  content: "Our Service";
  display: block;
  font: bold 40px/1 "arial";
  color: rgba(204, 204, 204, 0.2);
  letter-spacing: 2px;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.about .inner .service .wrap h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translateX(-50%);
}
.about .inner .service .wrap p {
  margin-bottom: 50px;
}
.about .inner .service .wrap article {
  width: 360px;
  height: 400px;
  border: 1px solid #ddd;
  float: left;
  margin-right: 50px;
  position: relative;
  transition: 0.5s;
}
.about .inner .service .wrap article:hover {
  border-color: coral;
}
.about .inner .service .wrap article:hover .con h4 {
  color: #ff7c4d;
}
.about .inner .service .wrap article:last-child {
  margin-right: 0;
}
.about .inner .service .wrap article .box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.about .inner .service .wrap article .con {
  width: 100%;
  padding: 30px 50px;
  text-align: center;
}
.about .inner .service .wrap article .con h4 {
  font: bold 25px/1 "arial";
  margin-bottom: 10px;
  color: #777;
  transition: 0.5s;
}
.about .inner .service .wrap article .con p {
  font: normal 12px/1.4 "arial";
  color: #aaa;
}
.about .inner > h3 {
  font: bold 35px/1 "arial";
  text-align: center;
  position: relative;
  color: #111;
  margin-bottom: 20px;
}
.about .inner > h3::before {
  content: "Meet Our Team";
  display: block;
  font: bold 40px/1 "arial";
  color: rgba(170, 170, 170, 0.2);
  letter-spacing: 2px;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.about .inner > h3::after {
  content: "";
  display: block;
  width: 1180px;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: 50%;
  bottom: -80px;
  transform: translateX(-50%);
}
.about .inner p {
  text-align: center;
  font: 14px/1.2 "arial";
  color: #999;
}
.about .inner .member {
  width: 1180px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}
.about .inner .member article {
  width: 280px;
  height: 380px;
  margin-right: 20px;
  background: #fff;
  float: left;
  text-align: center;
  overflow: hidden;
}
.about .inner .member article:hover h2::after {
  width: 80px;
}
.about .inner .member article:last-child {
  margin-right: 0;
}
.about .inner .member article img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  filter: grayscale(0.9);
  transition: 0.5s;
}
.about .inner .member article img:hover {
  filter: grayscale(0);
}
.about .inner .member article h2 {
  font: bold 20px/1 "arial";
  color: #555;
  margin: 20px 0;
  position: relative;
}
.about .inner .member article h2::after {
  content: "";
  display: block;
  width: 0px;
  height: 3px;
  background: coral;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  transition: 0.5s;
}
.about .inner .member article p {
  font: normal 14px/1 "arial";
  color: #777;
  margin-bottom: 10px;
}

.join .sub_visual {
  background: #efefef;
}
.join .inner h2 {
  font: normal 30px/1 "DM Serif Display";
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 30px;
}
.join .inner #member {
  border: none;
}
.join .inner #member #terms {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.join .inner #member .agreement {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 50px;
}
.join .inner #member .agreement #agree {
  margin-right: 5px;
}
.join .inner #member .agreement > p {
  font: 11px/1 "arial";
  color: red;
  margin-top: 5px;
  margin-right: -5px;
}
.join .inner #member p {
  font: bold 12px/1 "arial";
  color: red;
  margin-left: 32px;
  margin: 32px 32px 0;
}
.join .inner #member table {
  width: 100%;
}
.join .inner #member table th {
  text-align: left;
  width: 20%;
  font: bold 14px/1 "arial";
  color: #555;
  padding: 20px 30px;
}
.join .inner #member table th:last-child {
  text-align: center;
  padding: 50px 30px;
}
.join .inner #member table th input[type=reset], .join .inner #member table th input[type=submit] {
  width: 120px;
  height: 40px;
  border: none;
  background: rgba(75, 105, 100, 0.85);
  margin: 0 20px;
  font: normal 12px/1 "arial";
  color: #eee;
  letter-spacing: 1px;
  transition: 0.8s;
}
.join .inner #member table th input[type=reset]:hover, .join .inner #member table th input[type=submit]:hover {
  background: #4b6964;
}
.join .inner #member table td {
  padding: 20px 30px;
}
.join .inner #member table td input[type=text], .join .inner #member table td input[type=password], .join .inner #member table td input[type=email], .join .inner #member table td select {
  width: 30%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #777;
  text-indent: 5px;
  font: normal 12px/1 "arial";
}
.join .inner #member table td input::placeholder {
  color: 777;
}
.join .inner #member table td #first, .join .inner #member table td #family {
  width: 20%;
  margin-right: 10px;
}
.join .inner #member table td input[type=checkbox], .join .inner #member table td input[type=radio] {
  margin-right: 5px;
}
.join .inner #member table td label[for=home], .join .inner #member table td label[for=company] {
  font-size: 14px;
  margin-right: 20px;
}
.join .inner #member table td #domain {
  text-align: center;
  width: 20%;
  color: #777;
}
.join .inner #member table td > p, .join .inner #member table td span {
  font: normal 11px/1 "arial";
  color: rgba(250, 0, 0, 0.7);
  margin-top: 5px;
  margin-left: 5px;
}
.join .inner #member table td span {
  display: block;
}
.join .inner #member table:nth-of-type(6) {
  padding: 20px 30px 0;
}

.location::after {
  content: "";
  display: block;
  clear: both;
}
.location .inner #map {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  margin-bottom: 20px;
}
.location .inner .traffic {
  float: left;
}
.location .inner .traffic li {
  float: left;
  margin-right: 20px;
}
.location .inner .traffic li a {
  display: block;
  width: 200px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
}
.location .inner .traffic li.on a {
  background: #333;
}
.location .inner .branch {
  float: right;
}
.location .inner .branch li {
  float: left;
  margin-left: 10px;
}
.location .inner .branch li a {
  display: block;
  width: 100px;
  height: 40px;
  background: #555;
  font: bold 12px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  border: 1px solid #555;
  border-radius: 20px;
}
.location .inner .branch li.on a {
  background: #fff;
  color: #333;
}

.youtube .sub_visual {
  background: #eee;
}
.youtube .sub_visual > .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.youtube .sub_visual > .inner h1 {
  font: 40px/1 "DM Serif Display";
}
.youtube .inner .vidList {
  width: 100%;
}
.youtube .inner .vidList article {
  width: 580px;
  padding: 50px 0;
  margin-right: 20px;
  border-bottom: 1px solid #ddd;
  float: left;
}
.youtube .inner .vidList article:nth-of-type(2n) {
  margin-right: 0;
}
.youtube .inner .vidList article .pic {
  width: 100%;
  display: block;
  padding: 30px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  filter: grayscale(0.7);
  transition: 0.5s;
}
.youtube .inner .vidList article .pic .thumb {
  width: 100%;
  object-fit: cover;
}
.youtube .inner .vidList article .pic:hover {
  filter: grayscale(0);
}
.youtube .inner .vidList article .con {
  width: 100%;
  padding: 10px 30px;
}
.youtube .inner .vidList article .con h2 {
  font: bold 20px/1 "arial";
  text-align: center;
}
.youtube .inner figure.pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 5vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube .inner figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  cursor: pointer;
}

#header {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
#header .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#header .inner h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#header .inner h1 a {
  font: bold 30px/1 "DM Serif Display";
  color: #333;
  letter-spacing: 2px;
}
#header .inner .menuWeb {
  display: block;
}
#header .inner .menuWeb #gnbWeb {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  display: block;
}
#header .inner .menuWeb #gnbWeb li {
  float: left;
  margin-left: 60px;
}
#header .inner .menuWeb #gnbWeb li a {
  font: bold 12px/1 "arial";
  color: #a0a0a0;
  transition: 0.25s;
}
#header .inner .menuWeb #gnbWeb li.on a {
  color: #333;
}
#header .inner .menuWeb #gnbWeb li:hover a {
  color: #333;
}
#header .inner .menuWeb .joinWeb {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#header .inner .menuWeb .joinWeb li {
  float: left;
  margin-left: 30px;
}
#header .inner .menuWeb .joinWeb li a {
  font: normal 12px/1 "arial";
  color: #999;
  transition: 0.5s;
}
#header .inner .menuWeb .joinWeb li a i {
  margin-right: 5px;
  font-size: 15px;
  transform: translateY(2px);
}
#header .inner .menuWeb .joinWeb li:hover a {
  color: #333;
}
#header .inner .btnCall {
  display: none;
}
#header .inner .menuMo {
  display: none;
}

#intro {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
}
#intro .swiper {
  height: 100%;
}
#intro .swiper .swiper-wrapper .swiper-slide .inner {
  width: 100%;
  height: 100%;
  background: #333;
}
#intro .swiper .swiper-wrapper .swiper-slide .inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#intro .swiper .swiper-wrapper .swiper-slide .inner .wrap {
  width: 1000px;
  padding: 80px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
}
#intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con {
  text-align: center;
}
#intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con h2 {
  font: normal 60px/1.1 "DM Serif Display";
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #fff;
}
#intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con p {
  font: bold 18px/1.3 "Montserrat";
  color: rgba(255, 255, 255, 0.8);
}
#intro .swiper .swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#intro .swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: transparent;
  border: 1px solid #fff;
  opacity: 1;
}
#intro .swiper .swiper-pagination-bullet-active {
  width: 40px;
  transition: width 0.5s;
  border-radius: 5px;
  background: #fff;
  border: 1px solid transparent;
}

#rooms {
  width: 100%;
  height: 500px;
}
#rooms .inner {
  width: 100%;
  height: 100%;
  position: relative;
}
#rooms .inner article {
  float: left;
  width: 33.3333333333%;
  height: 100%;
}
#rooms .inner article .wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: 1s;
}
#rooms .inner article .wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  filter: grayscale(0.6);
}
#rooms .inner article .wrap .con {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 1s;
  opacity: 0.7;
}
#rooms .inner article .wrap .con p {
  font: normal 12px/1 "arial";
  margin-bottom: 15px;
  color: #fff;
}
#rooms .inner article .wrap .con h2 {
  font-size: 32px;
  margin-bottom: 50px;
  color: #fff;
}
#rooms .inner article .wrap .con a {
  display: inline-block;
  width: 120px;
  height: 35px;
  border: 1px solid #fff;
  font: bold 12px/35px "arial";
  color: #fff;
  transition: 0.75s;
}
#rooms .inner article .wrap .con a:hover {
  background: #fff;
  color: #333;
  font-weight: normal;
}
#rooms .inner article:hover .wrap img {
  transform: scale(1.05) rotate(0.001deg);
  filter: grayscale(0);
}
#rooms .inner article:hover .wrap .con {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

#review {
  width: 100%;
  padding: 100px 0;
  background: #e9e9e9;
  overflow: hidden;
}
#review .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#review .inner h2 {
  color: #333;
  font: normal 40px/1 "DM Serif Display";
  margin-bottom: 30px;
}
#review .inner > p {
  color: #777;
  font: normal 15px/1 "arial";
  margin-bottom: 30px;
}
#review .inner .reviewSwiper {
  width: 100%;
  padding: 0 10px;
}
#review .inner .reviewSwiper .swiper-wrapper {
  padding: 50px 0;
}
#review .inner .reviewSwiper .swiper-wrapper .swiper-slide {
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  padding: 60px 30px 30px;
}
#review .inner .reviewSwiper .swiper-wrapper .swiper-slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}
#review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con {
  width: 100%;
  height: 200px;
}
#review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con h4 {
  margin: 15px 0;
  font: bold 20px/1 "arial";
}
#review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con p {
  font: normal 15px/1.5 "arial";
  color: #777;
  margin-bottom: 20px;
}
#review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con span {
  font: normal 12px/1 "arial";
  color: #555;
  display: block;
  text-align: right;
}
#review .inner .reviewMo {
  display: none;
}

#video {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}
#video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#video .con {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#video .con h1 {
  font: normal 40px/1 "DM Serif Display";
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
#video .con p {
  font: normal 15px/1.5 "arial";
  color: #eee;
  margin-bottom: 50px;
}
#video .con a {
  display: inline-block;
  width: 300px;
  height: 30px;
  border: 1px solid #ddd;
  font: normal 12px/30px "arial";
  color: #ddd;
  transition: 0.5s;
}
#video .con a:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

#insta {
  width: 100%;
  height: 800px;
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}
#insta .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#insta .inner h2 {
  font: normal 40px/1 "DM Serif Display";
  margin-bottom: 20px;
}
#insta .inner p {
  font: 15px/1 "arial";
  margin-bottom: 30px;
}
#insta .inner .arrow {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
}
#insta .inner .arrow::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  top: calc(50% - 0px);
  right: 0;
  transform: rotate(30deg);
  transform-origin: right center;
}
#insta .inner .arrow::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: calc(50% - 0px);
  right: 0;
  transform: rotate(-30deg);
  transform-origin: right center;
}
#insta .inner .wrap {
  width: 100%;
}
#insta .inner .wrap .instaSwiper {
  width: 100%;
  height: 420px;
}
#insta .inner .wrap .instaSwiper .swiper-wrapper .swiper-slide img {
  width: 280px;
  height: 350px;
  object-fit: cover;
}
#insta .inner .wrap .instaSwiper .swiper-pagination,
#insta .inner .wrap .instaSwiper .swiper-pagination-progressbar,
#insta .inner .wrap .instaSwiper .swiper-pagination-horizontal {
  width: 100%;
  height: 4px;
  left: 0;
  top: 95%;
}
#insta .inner .wrap .instaSwiper .swiper-pagination-progressbar {
  width: 50%;
}
#insta .inner .wrap .instaSwiper .swiper-pagination-progressbar-fill {
  background-color: #555;
}

#footer {
  width: 100%;
  height: 500px;
  background: #e9e9e9;
  overflow: hidden;
}
#footer::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 50px 0 50px;
}
#footer .inner h1 {
  display: inline-block;
  font: bold 30px/1 "DM Serif Display";
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 50px;
}
#footer .inner .wrap_util {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 120px;
  left: 5px;
}
#footer .inner .wrap_util::after {
  content: "";
  display: block;
  width: 1180px;
  height: 1px;
  background: #ccc;
  position: absolute;
  bottom: -70px;
  left: -10px;
}
#footer .inner .wrap_util ul {
  float: left;
  margin-right: 100px;
}
#footer .inner .wrap_util ul:last-child {
  margin-right: 0;
}
#footer .inner .wrap_util ul li {
  margin-bottom: 25px;
}
#footer .inner .wrap_util ul li a {
  font: 15px/1 "arial";
  color: #555;
}
#footer .inner .wrap_util ul li a:hover {
  text-decoration: underline;
}
#footer .inner .wrap_news {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 120px;
  right: 0;
}
#footer .inner .wrap_news span {
  display: block;
  margin-bottom: 50px;
  font: bold 15px/1 "arial";
}
#footer .inner .wrap_news span i {
  font-size: 12px;
  margin-right: 5px;
}
#footer .inner .wrap_news input {
  width: 100%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #999;
  margin-bottom: 30px;
}
#footer .inner .wrap_news a {
  display: block;
  width: 150px;
  height: 40px;
  background: rgba(75, 105, 100, 0.85);
  border-radius: 20px;
  font: normal 15px/40px "arial";
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
#footer .inner .wrap_news a:hover {
  background: #4b6964;
}
#footer .inner p {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#footer .inner .sns {
  float: right;
  width: 280px;
  height: 20px;
  position: absolute;
  bottom: 40px;
  right: 0;
}
#footer .inner .sns span {
  float: left;
  margin-right: 50px;
}
#footer .inner .sns ul li {
  float: left;
  margin-right: 15px;
  display: flex;
}
#footer .inner .sns ul li:last-child {
  margin-right: 0;
}
#footer .inner .sns ul li a {
  font-size: 20px;
  color: rgba(51, 51, 51, 0.8);
}
#footer .inner .sns ul li:hover a {
  color: #333;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
  }
  #header .inner h1 {
    left: 30px;
  }
  #header .inner h1 a {
    font-size: 25px;
  }
  #header .inner .menuWeb #gnbWeb {
    top: 60%;
  }
  #header .inner .menuWeb #gnbWeb li {
    float: left;
    margin-left: 30px;
  }
  #header .inner .menuWeb #gnbWeb li a {
    font-size: 11px;
  }
  #header .inner .menuWeb .joinWeb {
    top: 60%;
  }
  #header .inner .menuWeb .joinWeb li {
    margin-left: 20px;
  }
  #header .inner .menuWeb .joinWeb li a {
    font-size: 11px;
  }

  #intro {
    height: 70vh;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap {
    width: 80vw;
    padding: 50px 10px;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con h2 {
    font: normal 32px/1.2 "DM Serif Display";
    margin-bottom: 20px;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con p {
    font: bold 15px/1.5 "Montserrat";
  }

  #rooms {
    height: 400px;
  }
  #rooms .inner article .wrap .con p {
    font-size: 10px;
  }
  #rooms .inner article .wrap .con h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  #rooms .inner article .wrap .con a {
    display: inline-block;
    width: 100px;
    height: 30px;
    font: bold 10px/30px "arial";
  }

  #review {
    padding: 100px 30px;
  }
  #review .inner {
    width: 100%;
  }
  #review .inner h2 {
    font: normal 30px/1 "DM Serif Display";
    margin-bottom: 20px;
  }
  #review .inner > p {
    color: #777;
    font: normal 12px/1 "arial";
    margin-bottom: 20px;
  }
  #review .inner .reviewSwiper {
    width: 100%;
  }
  #review .inner .reviewSwiper .swiper-wrapper {
    padding: 50px 0;
  }
  #review .inner .reviewSwiper .swiper-wrapper .swiper-slide {
    width: 300px;
    background: rgba(255, 255, 255, 0.6);
    padding: 60px 20px 10px;
  }
  #review .inner .reviewSwiper .swiper-wrapper .swiper-slide img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
  }
  #review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con {
    width: 100%;
    height: 180px;
  }
  #review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con h4 {
    margin: 14px 0;
    font: bold 20px/1 "arial";
  }
  #review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con p {
    font: normal 13px/1.3 "arial";
    color: #777;
    margin-bottom: 20px;
  }
  #review .inner .reviewSwiper .swiper-wrapper .swiper-slide .con span {
    font: normal 11px/1 "arial";
    color: #555;
    display: block;
    text-align: right;
  }
  #review .inner .reviewMo {
    display: none;
  }

  #video {
    height: 25vh;
  }

  #insta {
    padding: 100px 30px 100px;
  }
  #insta .inner {
    width: 100%;
  }
  #insta .inner h2 {
    font: normal 30px/1 "DM Serif Display";
  }
  #insta .inner p {
    font: 15px/1 "arial";
  }
  #insta .inner .wrap {
    width: 100%;
  }
  #insta .inner .wrap .instaSwiper {
    width: 100%;
    height: 420px;
  }
  #insta .inner .wrap .instaSwiper .swiper-wrapper .swiper-slide img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  #insta .inner .wrap .instaSwiper .swiper-pagination,
#insta .inner .wrap .instaSwiper .swiper-pagination-progressbar,
#insta .inner .wrap .instaSwiper .swiper-pagination-horizontal {
    width: 100%;
    height: 4px;
    left: 0;
    top: 95%;
  }
  #insta .inner .wrap .instaSwiper .swiper-pagination-progressbar {
    width: 50%;
  }

  #footer, #footer_sub {
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  #footer .inner, #footer_sub .inner {
    width: 100%;
    padding: 50px 30px 50px;
  }
  #footer .inner .wrap_util, #footer_sub .inner .wrap_util {
    width: 500px;
    height: 200px;
    top: 120px;
    left: 30px;
  }
  #footer .inner .wrap_util::after, #footer_sub .inner .wrap_util::after {
    width: 1000px;
    bottom: -50px;
  }
  #footer .inner .wrap_util ul, #footer_sub .inner .wrap_util ul {
    margin-right: 50px;
  }
  #footer .inner .wrap_util ul li, #footer_sub .inner .wrap_util ul li {
    margin-bottom: 25px;
  }
  #footer .inner .wrap_util ul li a, #footer_sub .inner .wrap_util ul li a {
    font: 12px/1 "arial";
  }
  #footer .inner .wrap_news span, #footer_sub .inner .wrap_news span {
    margin-bottom: 40px;
  }
  #footer .inner .wrap_news input, #footer_sub .inner .wrap_news input {
    width: 90%;
  }
  #footer .inner .wrap_news a, #footer_sub .inner .wrap_news a {
    width: 120px;
    font: normal 15px/40px "arial";
  }
  #footer .inner p, #footer .inner .sns, #footer_sub .inner p, #footer_sub .inner .sns {
    bottom: 30px;
  }
}
@media screen and (max-width: 949px) {
  #header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 2;
  }
  #header .inner > h1 a {
    font-size: 25px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .btnCall {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    display: block;
    z-index: 4;
  }
  #header .inner .btnCall::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.5s 0s, transform 0.5s 0.5s;
  }
  #header .inner .btnCall::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.5s 0.5s, bottom 0.5s 0s;
  }
  #header .inner .btnCall span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    text-indent: -999999px;
    transition: all 1s;
  }
  #header .inner .btnCall.on::before {
    top: 50%;
    margin-top: -1px;
    transform: rotate(-225deg);
  }
  #header .inner .btnCall.on::after {
    bottom: 50%;
    margin-bottom: -1px;
    transform: rotate(225deg);
  }
  #header .inner .btnCall.on span {
    transform: scale(0);
    opacity: 0;
  }
  #header .inner .menuMo {
    display: block;
    position: fixed;
    top: 0;
    left: -270px;
    width: 270px;
    height: 100vh;
    background: #fff;
    padding: 35px;
    z-index: 5;
    transition: 1s;
  }
  #header .inner .menuMo.on {
    left: 0;
  }
  #header .inner .menuMo > h1 {
    top: 80px;
    margin-left: 10px;
  }
  #header .inner .menuMo > h1::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: #999;
    margin-top: 10px;
    margin-left: -10px;
  }
  #header .inner .menuMo #gnbMo {
    margin-top: 75px;
    margin-left: 5px;
  }
  #header .inner .menuMo #gnbMo li {
    transform-origin: left center;
    transition: 1s;
  }
  #header .inner .menuMo #gnbMo li::after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background: #ddd;
    opacity: 0;
    transition: 0.5s;
  }
  #header .inner .menuMo #gnbMo li a {
    display: block;
    width: 100%;
    padding: 20px 0;
    font: bold 14px/1 "arial";
    color: #555;
  }
  #header .inner .menuMo #gnbMo li:hover {
    transform: scaleX(1.1);
  }
  #header .inner .menuMo #gnbMo li:hover::after {
    width: 100px;
    opacity: 1;
  }
  #header .inner .menuMo .joinMo {
    margin-left: 5px;
  }
  #header .inner .menuMo .joinMo li a {
    display: block;
    padding: 20px 0;
    font: normal 14px/1 "arial";
    color: #777;
  }
  #header .inner .menuMo .joinMo li a:hover {
    color: #111;
  }
  #header .inner .menuMo .snsMo {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100px;
    text-align: center;
  }
  #header .inner .menuMo .snsMo span {
    font: normal 14px/1 "arial";
    color: #777;
    display: block;
    margin-bottom: 15px;
  }
  #header .inner .menuMo .snsMo ul {
    width: 60%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  #header .inner .menuMo .snsMo ul li {
    float: left;
    margin-right: 30px;
    line-height: 30px;
  }
  #header .inner .menuMo .snsMo ul li:last-child {
    margin-right: 0;
  }
  #header .inner .menuMo .snsMo ul li a {
    font-size: 20px;
    color: #777;
    transition: 0.25s;
  }
  #header .inner .menuMo .snsMo ul li a:hover {
    color: #333;
  }
  #header .inner .menuMo p {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: 11px/1.1 "arial";
  }

  #intro {
    height: 50vh;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap {
    width: 80vw;
    padding: 50px 10px;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con h2 {
    font: normal 30px/1.2 "DM Serif Display";
    margin-top: 0px;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con p {
    font: bold 12px/1.5 "Montserrat";
  }

  #rooms {
    height: calc(100vh - 50px);
  }
  #rooms .inner article {
    width: 100%;
    height: 33.3333333333%;
  }
  #rooms .inner article .wrap .con p {
    font-size: 10px;
  }
  #rooms .inner article .wrap .con h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  #rooms .inner article .wrap .con a {
    display: inline-block;
    width: 100px;
    height: 30px;
    font: bold 10px/30px "arial";
  }

  #review {
    padding: 50px 20px;
  }
  #review .inner {
    width: 100%;
  }
  #review .inner h2 {
    font: normal 30px/1 "DM Serif Display";
    margin-bottom: 20px;
  }
  #review .inner > p {
    color: #777;
    font: normal 12px/1 "arial";
    margin-bottom: 20px;
  }
  #review .inner .reviewSwiper {
    display: none;
  }
  #review .inner .reviewMo {
    display: block;
    width: 100%;
    padding: 50px 0;
    position: relative;
  }
  #review .inner .reviewMo article {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.904);
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  #review .inner .reviewMo article img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  #review .inner .reviewMo article .con {
    width: calc(100% - 130px);
  }
  #review .inner .reviewMo article .con h4 {
    font: normal 18px/1 "dm serif display";
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
  }
  #review .inner .reviewMo article .con p {
    font: normal 12px/1.5 "arial";
    color: #777;
    margin-bottom: 10px;
    width: 80%;
  }
  #review .inner .reviewMo article .con span {
    display: block;
    text-align: right;
    font: 10px/1 "arial";
    color: #999;
    margin-right: 20px;
  }
  #review .inner .reviewMo a {
    font: 12px/1 "arial";
    text-align: center;
    color: #fff;
    line-height: 30px;
    display: block;
    width: 100px;
    height: 30px;
    background: rgba(75, 105, 100, 0.8);
    position: absolute;
    bottom: 10px;
    right: 30px;
    transition: 0.5s;
  }
  #review .inner .reviewMo a:hover {
    background: #4b6964;
    font-size: 13px;
  }

  #video {
    height: 25vh;
  }

  #insta {
    height: 600px;
    padding: 50px 30px;
  }
  #insta .inner {
    width: 100%;
    height: 0px;
  }
  #insta .inner h2 {
    font: normal 30px/1 "DM Serif Display";
  }
  #insta .inner p {
    font: 15px/1 "arial";
  }
  #insta .inner .wrap {
    width: 100%;
  }
  #insta .inner .wrap .instaSwiper {
    width: 100%;
    height: 350px;
  }
  #insta .inner .wrap .instaSwiper .swiper-wrapper .swiper-slide img {
    width: 20vw;
    height: 250px;
    object-fit: cover;
  }
  #insta .inner .wrap .instaSwiper .swiper-pagination,
#insta .inner .wrap .instaSwiper .swiper-pagination-progressbar,
#insta .inner .wrap .instaSwiper .swiper-pagination-horizontal {
    width: 100%;
    height: 4px;
    left: 0;
    top: 95%;
  }
  #insta .inner .wrap .instaSwiper .swiper-pagination-progressbar {
    width: 50%;
  }

  #footer, #footer_sub {
    width: 100%;
    height: 230px;
    overflow: hidden;
  }
  #footer .inner, #footer_sub .inner {
    width: 100%;
    padding: 30px;
  }
  #footer .inner h1, #footer_sub .inner h1 {
    display: none;
  }
  #footer .inner .wrap_util, #footer_sub .inner .wrap_util {
    width: 60%;
    height: 200px;
    top: 40px;
    left: 30px;
  }
  #footer .inner .wrap_util::after, #footer_sub .inner .wrap_util::after {
    display: none;
  }
  #footer .inner .wrap_util ul, #footer_sub .inner .wrap_util ul {
    margin-right: 50px;
  }
  #footer .inner .wrap_util ul li, #footer_sub .inner .wrap_util ul li {
    margin-bottom: 20px;
  }
  #footer .inner .wrap_util ul li a, #footer_sub .inner .wrap_util ul li a {
    font: 12px/1 "arial";
  }
  #footer .inner .wrap_news, #footer_sub .inner .wrap_news {
    width: 40%;
    position: absolute;
    top: 50px;
  }
  #footer .inner .wrap_news span, #footer_sub .inner .wrap_news span {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #footer .inner .wrap_news input::placeholder, #footer_sub .inner .wrap_news input::placeholder {
    font-size: 10px;
  }
  #footer .inner .wrap_news a, #footer_sub .inner .wrap_news a {
    width: 70px;
    height: 25px;
    font: normal 10px/25px "arial";
  }
  #footer .inner p, #footer .inner .sns, #footer_sub .inner p, #footer_sub .inner .sns {
    display: none;
  }
}
@media screen and (max-width: 749px) {
  #header {
    height: 35px;
  }
  #header .inner h1 a {
    font-size: 18px;
  }
  #header .inner .btnCall {
    width: 15px;
    height: 15px;
  }
  #header .inner .btnCall::before, #header .inner .btnCall::after {
    height: 1px;
  }
  #header .inner .btnCall span {
    margin-top: 0;
    height: 1px;
  }
  #header .inner .menuMo #gnbMo li a {
    font-size: 12px;
  }
  #header .inner .menuMo .joinMo {
    margin-left: 5px;
  }
  #header .inner .menuMo .joinMo li a {
    font-size: 12px;
  }
  #header .inner .menuMo .snsMo span {
    font: normal 12px/1 "arial";
  }
  #header .inner .menuMo .snsMo ul {
    justify-content: space-around;
  }
  #header .inner .menuMo .snsMo ul li a {
    font-size: 15px;
  }
  #header .inner .menuMo p {
    font: 10px/1.1 "arial";
    color: #555;
  }

  #intro {
    height: 50vh;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap {
    width: 80vw;
    padding: 50px 10px;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con h2 {
    font: normal 30px/1.2 "DM Serif Display";
    margin-top: 0px;
  }
  #intro .swiper .swiper-wrapper .swiper-slide .inner .wrap .con p {
    font: bold 12px/1.5 "Montserrat";
  }

  #rooms {
    height: calc(100vh - 50px);
  }
  #rooms .inner article {
    width: 100%;
    height: 33.3333333333%;
  }
  #rooms .inner article .wrap {
    float: left;
  }
  #rooms .inner article .wrap .img {
    width: 50%;
    height: 100%;
  }
  #rooms .inner article .wrap .con {
    width: 50%;
  }
  #rooms .inner article .wrap .con p {
    font-size: 10px;
  }
  #rooms .inner article .wrap .con h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  #rooms .inner article .wrap .con a {
    display: inline-block;
    width: 100px;
    height: 30px;
    font: bold 10px/30px "arial";
  }

  #review {
    padding: 50px 20px;
  }
  #review .inner {
    width: 100%;
  }
  #review .inner h2 {
    font-size: 25px;
  }
  #review .inner > p {
    color: #777;
    font: normal 12px/1 "arial";
    margin-bottom: 20px;
  }
  #review .inner .reviewMo {
    display: block;
    width: 100%;
    padding: 30px 0;
    position: relative;
  }
  #review .inner .reviewMo article {
    width: 100%;
    padding: 30px 10px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.904);
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  #review .inner .reviewMo article img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  #review .inner .reviewMo article .con {
    width: calc(100% - 130px);
  }
  #review .inner .reviewMo article .con h4 {
    font: normal 18px/1 "dm serif display";
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
  }
  #review .inner .reviewMo article .con p {
    width: 80%;
    font: normal 14px/1.4 "arial";
    color: #777;
    margin-bottom: 20px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    height: 54px;
  }
  #review .inner .reviewMo article .con span {
    display: block;
    text-align: right;
    font: 10px/1 "arial";
    color: #999;
    margin-right: 20px;
  }
  #review .inner .reviewMo a {
    font: 12px/1 "arial";
    text-align: center;
    color: #fff;
    line-height: 30px;
    display: block;
    width: 100px;
    height: 30px;
    background: rgba(75, 105, 100, 0.8);
    position: absolute;
    bottom: 10px;
    right: 30px;
    transition: 0.5s;
  }
  #review .inner .reviewMo a:hover {
    background: #4b6964;
    font-size: 13px;
  }

  #video {
    height: 25vh;
  }

  #insta {
    height: 600px;
    padding: 50px 30px;
  }
  #insta .inner {
    width: 100%;
    height: 0px;
  }
  #insta .inner h2 {
    font: normal 30px/1 "DM Serif Display";
  }
  #insta .inner p {
    font: 15px/1 "arial";
  }
  #insta .inner .wrap {
    width: 100%;
  }
  #insta .inner .wrap .instaSwiper {
    width: 100%;
    height: 350px;
  }
  #insta .inner .wrap .instaSwiper .swiper-wrapper .swiper-slide img {
    width: 20vw;
    height: 250px;
    object-fit: cover;
  }
  #insta .inner .wrap .instaSwiper .swiper-pagination,
#insta .inner .wrap .instaSwiper .swiper-pagination-progressbar,
#insta .inner .wrap .instaSwiper .swiper-pagination-horizontal {
    width: 100%;
    height: 4px;
    left: 0;
    top: 95%;
  }
  #insta .inner .wrap .instaSwiper .swiper-pagination-progressbar {
    width: 50%;
  }

  #footer .inner .wrap_util, #footer_sub .inner .wrap_util {
    width: 50%;
  }
  #footer .inner .wrap_util ul, #footer_sub .inner .wrap_util ul {
    margin-right: 40px;
  }
  #footer .inner .wrap_util ul:nth-of-type(2), #footer_sub .inner .wrap_util ul:nth-of-type(2) {
    display: none;
  }
  #footer .inner .wrap_util ul li a, #footer_sub .inner .wrap_util ul li a {
    font: 11px/1 "arial";
  }
  #footer .inner .wrap_news, #footer_sub .inner .wrap_news {
    width: 50%;
  }
  #footer .inner .wrap_news span, #footer_sub .inner .wrap_news span {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
