.about{
    .sub_visual{
        width: 100%;
        height: 40vh;
        background: url(../img/history.jpeg) no-repeat center/cover fixed;

        >.wrap{
            width: 1180px;
            height: 100%;
            margin: 0 auto; 
            position: relative;

            .con{
                width: 50%;
                padding: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                h2{
                    font: normal 40px/1 'DM Serif Display';
                    letter-spacing: 5px;
                    color: #fff;
                    margin-bottom: 20px;
                }
                p{
                    color:#efefef;
                    font: normal 13px/1.4 'arial';
                    letter-spacing: 1px;     
                }                
            }

        }

    }
    .inner{
        .about{
            width: 1180px;
            height: 900px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 100px;

            .wrap{
                width: 100%;  
                height: 250px;
                margin-bottom: 60px;
                

                article{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    background: #f9f9f9;

                    &:hover{
                        .con{
                            h3{
                                color: rgb(255, 124, 77);
                                
                                &::after{
                                    width: 25%;
                                }
                            }
                        }
                    }
                    
                    img{
                        width: 40%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        float: left;
                        transition: 1s;
                        z-index: 1;
                    }

                    >.con{
                        width: 60%;
                        padding: 30px;
                        display: block;
                        float: right;
                        background: #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-25%, -50%);
                        z-index: 2;
                        border-top-left-radius: 40px;

                        h3{
                            font: bold 25px/1 'arial';
                            letter-spacing: 1px;
                            margin-bottom: 20px;
                            color: #444;
                            transition: 0.7s;

                            &::after{
                                content: '';
                                display: block;
                                background: coral;
                                width: 0;
                                height: 1px;
                                position: absolute;
                                top: 65px;
                                transition: 0.7s;
                            }
                        }
                        p{
                            font: normal 14px/1.5 'arial';
                            color: #777;
                            text-align: left;

                            &::before{
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                color: rgba(75, 100, 100, 1);
                            }                           
                        }
                    }
                }

                &:nth-of-type(2) article{

                    &:hover{
                        .con{

                            h3{
                                &::after{
                                    width: 30%;
                                }
                            }
                        }
                    }

                    img{ float: right; }
                    >.con{
                        float: left;
                        top: 50%;
                        left: 50%;
                        transform: translate(-75%, -50%);
                        border-top-left-radius: 0px;
                        border-top-right-radius: 40px;

                        h3{ 
                            text-align: right; 
                            &::after{
                                content: '';
                                display: block;
                                background: coral;
                                width: 0%;
                                height: 1px;
                                position: absolute;
                                top: 65px;
                                right: 30px;
                                transition: 0.7s;
                                transform-origin: right;
                            }
                        }
                        p{ text-align: right;}
    
                    }
    
                }
            }
        }

        .service{
            width: 100%;
            padding: 100px 0;
            background: #F9F9F9;
            margin-bottom: 100px;
            .wrap{
                width: 1180px;
                height: 550px;
                margin: 0 auto;

                h3{
                    font: bold 35px/1 'arial';
                    color: #111;
                    text-align: center;
                    margin-bottom: 20px;
                    position: relative;
                    z-index: 1;

                    &::before{
                        content: 'Our Service';
                        display: block;
                        font: bold 40px/1 'arial';
                        color: rgba(204, 204, 204, 0.2);
                        letter-spacing: 2px;
                        position: absolute;
                        top: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: -1;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #ddd;
                        position: absolute;
                        left: 50%;
                        bottom: -65px;
                        transform: translateX(-50%);
                    }

                }
                p{
                    margin-bottom: 50px;
                }
                article{
                    width: 360px;
                    height: 400px;
                    border: 1px solid #ddd;

                    float: left;
                    margin-right: 50px;
                    position: relative;
                    transition: 0.5s;

                    &:hover{
                        border-color: coral;
                        .con{
                            h4{ color :rgb(255, 124, 77);}
                        }
                    }

                    &:last-child{margin-right: 0;}

                    .box{
                        width: 200px;
                        height: 200px;
                        border: 1px solid black;
                        border-radius: 50%;
                        margin-left: 80px;
                        margin-top: 30px;
                        margin-bottom: 10px;
                    }
                    .con{
                        width: 100%;
                        padding: 30px 50px;
                        text-align: center;
                       
                        h4{
                            font: bold 25px/1 'arial';
                            margin-bottom: 10px;
                            color: #777;
                            transition: .5s;
                        }
                        p{
                            font: normal 12px/1.4 'arial';
                            color: #aaa;
                        }
                    }
                }
            }

        }
        >h3{
            font: bold 35px/1 'arial';
            text-align: center;
            position: relative;
            color: #111;
            margin-bottom: 20px;

            &::before{
                content: 'Meet Our Team';
                display: block;
                font: bold 40px/1 'arial';
                color: rgba(170, 170, 170, 0.2);
                letter-spacing: 2px;
                position: absolute;
                top: -12px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
            }
            &::after{
                content: '';
                display: block;
                width: 1180px;
                height: 1px;
                background: #ddd;
                position: absolute;
                left: 50%;
                bottom: -80px;
                transform: translateX(-50%);
            }
        }
        p{
            text-align: center;
            font: 14px/1.2 'arial';
            color: #999;
            
        }

        .member{
            width: 1180px;
            height: 400px;
            margin: 0 auto;
            position: relative;
            margin-top: 50px;

    
            article{
                width: 280px;
                height: 380px;
                margin-right: 20px;
                background: #fff;
                float: left;
                text-align: center;
                overflow: hidden;

                &:hover{
                    h2{
                        &::after{width: 80px;}
                    }
                }
    
                &:last-child{
                    margin-right: 0;
                }
                img{
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                    filter: grayscale(0.9);
                    transition: 0.5s;

                    &:hover{
                        filter: grayscale(0);

                    }

                }
                h2{
                    font: bold 20px/1 'arial';
                    color: #555;
                    margin: 20px 0;
                    position: relative;

                    &::after{
                        content: '';
                        display: block;
                        width: 0px;
                        height: 3px;
                        background: coral;
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        transform-origin: center;
                        transition: 0.5s;

                        

                    }
                }
                p{
                    font: normal 14px/1 'arial';
                    color: #777;
                    margin-bottom: 10px;
                }

    
            }
        }
    }



}