.join{
    .sub_visual{
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 50px 0;
        h2{
            font: normal 30px/1 'DM Serif Display';
            letter-spacing: 1px;
            color: #333;
            margin-bottom: 30px;
        }
        #member{
            border: none;

            // 약관동의
            #terms{
                width: 100%;
                height: 200px;
                resize: none;
                padding: 5px 15px;
                margin-bottom: 10px;
            }
            .agreement{
                text-align: right;
                margin-right: 20px;
                margin-bottom: 50px;
                #agree{
                    margin-right: 5px;
                }
                >p{
                    font: 11px/1 'arial';
                    color: red;
                    margin-top: 5px;
                    margin-right: -5px;
                }
            }
            p{
                font: bold 12px/1 'arial';
                color: red;
                margin-left: 32px;
                margin: 32px 32px 0;
                
            }
            // 개인정보 입력 테이블
            table{
                width: 100%;
                
                th{
                    text-align: left;
                    width: 20%;
                    font: bold 14px/1 'arial';
                    color: #555;
                    padding: 20px 30px;

                    //reset,submit btn
                    &:last-child{
                        text-align: center;
                        padding: 50px 30px;
                    }
                    input[type=reset], input[type=submit]{
                        width: 120px;
                        height: 30px;
                        border: none;
                        background: rgba(75, 105, 100, 0.85);
                        margin: 0 20px;
                        font: normal 11px/30px 'arial';
                        color: #eee;
                        letter-spacing: 1px;
                        transition: 0.8s;

                        &:hover{
                            background: rgba(75, 105, 100, 1);
                        }
                    }
                }
                td{
                    padding: 20px 30px;

                    //텍스트 칸 레이아웃 설정
                    input[type="text"], input[type="password"], input[type="email"], select{
                        width: 30%;
                        height: 30px;
                        border: none;
                        border-bottom: 1px solid #ccc;
                        color: #777;
                        text-indent: 5px;
                        font: normal 12px/1 'arial';
                    }
                    input::placeholder{
                        color: 777;
                    }

                    //이름
                    #first,#family{
                        width: 20%;
                        margin-right: 10px;
                    }
                    //체크박스
                    input[type=checkbox], input[type=radio]{
                        margin-right: 5px;

                    }
                    //주소
                    label[for=home],label[for=company]{
                        font-size: 14px;
                        margin-right: 20px;
                    }

                    //이메일 칸
                    #domain{
                        text-align: center;
                        width: 20%;
                        color: #777;
                    }
                    >p, span{
                        font: normal 11px/1 'arial';
                        color: rgba(250, 0, 0, 0.7);
                        margin-top: 5px;
                        margin-left: 5px;
                    }
                    span{
                        display: block;
                    }
                    
                }
                &:nth-of-type(6){
                        padding: 20px 30px 0;
                    }

            }
            

        }
        
    }
}