.location{
    .sub_visual{}

    &::after{
        content: '';
        display: block;
        clear: both;
    }
    .inner{
        width: 1180px;
        margin-top: 50px;

        #map{
            width: 100%;
            height: 500px;
            border: 1px solid #000;            
        }
        
        .branch{
            float: left;
            margin-bottom: 20px;
            

            li{
                float: left;
                margin-right: 20px;

                a{
                    display: block;
                    width: 120px;
                    height: 30px;
                    background: rgba(75, 105, 100, 0.85);
                    font: normal 12px/30px 'arial';
                    letter-spacing: 2px;
                    color: #fff;
                    text-align: center;
                    border: 1px solid rgba(75, 105, 100, 1);
                }

                &.on a{
                    background: rgba(75, 105, 100, 1);
                }
            }
        }
    }
}
