.notice{
    .sub_visual{
    }
    .inner{
        
        table{
            width: 100%;
            padding: 20px;
            th{
                text-align: left;
                font: 20px/1 'arial';
                color: #444;
                padding: 20px 0;
            }
            td{
                text-align: left;
                font: 12px/1.5 'arial';
                color: #777;
                padding: 0 20px;
                display: none;
                border: 3px solid chocolate;

                &.on{
                    display: block;
                }
            }
        }
    }
}

@media screen and(max-width:1179px){
    
}
@media screen and(max-width:949px){
    
}
@media screen and(max-width:749px){
    
}
@media screen and(max-width:539px){
    
}