.notice{
    .sub_visual{
        background:#eee;
        position: relative;
        padding: 50px;
        h1{
            font: 30px/1 'DM Serif Display';
            position: absolute;
            bottom: 20px;
        }
    }
    .inner{
        
        table{
            width: 100%;
            padding: 20px;
            th{
                text-align: left;
                font: 20px/1 'arial';
                color: #444;
                padding: 20px 0;
            }
            td{
                text-align: left;
                font: 12px/1.5 'arial';
                color: #777;
                padding: 0 20px;
                display: none;
                border: 3px solid chocolate;

                &.on{
                    display: block;
                }
            }
        }
    }
}