*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a{
    text-decoration: none;
}
.hidden{
    position: absolute;
    left: -999999px;
    top: 0;
    opacity: 0;
}