// header------------------------------
#header{
    width: 100%;
    height: 50px;
    overflow: hidden;

    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            a{
                font: bold 30px/1 'DM Serif Display';
                color: #333;
                letter-spacing: 2px;
            }
        }
        .menuWeb{
            display: block;

            #gnbWeb{
                position: absolute;
                top: 50%;
                left: 100px;
                transform: translateY(-50%);
                display: block;
                
                li{
                    float: left;
                    margin-left: 60px;
                    
                    a{
                        font: bold 12px/1 'arial';
                        color: #a0a0a0;
                        transition: 0.25s;
                    }

                    &:hover a{
                    color: #333;
                    }
                }
            }

            .joinWeb{
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);

                li{
                    float: left;
                    margin-left: 30px;
                    
                    a{
                        font: normal 12px/1 'arial';
                        color: #999;
                        transition: 0.5s;

                        i{
                            margin-right: 5px;
                            font-size: 15px;
                            transform: translateY(2px);
                        }
                    }

                    &:hover a{
                    color: #333;
                    }
                }
            }            
        }

        .btnCall{
            display: none;
        }
        .menuMo{
            display: none;
        }
    }
}
// sub content------------------------------
.content{
    width: 100%;
    padding: 0 0 100px;
    overflow: hidden;

    .sub_visual{
        width: 100%;
        height: 40vh;
    }
    .inner{
        width: 100%;
        margin: 0 auto;
        padding: 30px 0;

    }
}
// footer------------------------------
#footer_sub{
    width: 100%;
    height: 500px;
    background: #e9e9e9;
    overflow: hidden;

    &::after{
        content: '';
        display: block;
        clear: both;
    }
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        padding: 50px 0 50px;
        //border: 3px solid orange;
        
        h1{
            display: inline-block;
            font: bold 30px/1 'DM Serif Display';
            letter-spacing: 2px;
            color: #333;
            margin-bottom: 50px;
            //border: 3px solid blue;
        }
        .wrap_util{
            width: 600px;
            height: 200px;
            position: absolute;
            top: 120px;
            left: 5px;
            //border: 3px solid blue;

            &::after{
                content: '';
                display: block;
                width: 1180px;
                height: 1px;
                background: #ccc;
                position: absolute;
                bottom: -70px;
                left: -10px;
            }

            ul{
                float: left;
                margin-right: 100px;

                &:last-child{
                    margin-right: 0;
                }

                li{
                    margin-bottom: 25px;
                    
                    a{
                        font: 15px/1 'arial';
                        color: #555;
                        //transition: 1s;

                        &:hover{
                            text-decoration: underline;
                        }
                        
                    }

                }
            }
        }
        .wrap_news{
            width: 350px;
            height: 200px;
            position: absolute;
            top: 120px;
            right: 0;
            //border: 3px solid blue;

            span{
                display: block;
                margin-bottom: 50px;
                font: bold 15px/1 'arial';
           
                i{
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            input{
                width: 100%;
                height: 30px;
                background: none;
                border: none;
                border-bottom: 1px solid #999; margin-bottom: 30px;
            }
            a{
                display: block;
                width: 150px;
                height: 40px;
                background: rgba(75, 105, 100, 0.85);
                border-radius: 20px;
                font: normal 15px/40px 'arial';
                text-align: center;
                color: #fff;
                transition: 0.5s;

                &:hover{
                    background: rgba(75, 105, 100, 1);
                }
            }

        }

        p{
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
        .sns{
            float: right;
            width: 280px;
            height: 20px;
            position: absolute;
            bottom: 40px;
            right: 0;

            span{
                float: left;
                margin-right: 50px;
            }
            ul{

                li{
                    float: left;
                    margin-right: 15px;
                    display: flex;

                    &:last-child{
                        margin-right: 0;
                    }
                    
                    a{
                        font-size: 20px;
                        color: rgba(51, 51, 51, 0.80);
                    }

                    &:hover a{

                        color: #333;
                    }
                }                
            }
        }

    }
}