// header------------------------------
#header_sub{
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #f9f9f9;

    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            bottom: 5px;
            left: 0;

            a{
                font: bold 30px/1 'Cantata One';
                color: #333;
                letter-spacing: 2px;
            }
        }
        .menuWeb{
            display: block;

            #gnbWeb{
                position: absolute;
                bottom: 10px;
                left: 100px;
                display: block;
                
                li{
                    float: left;
                    margin-left: 60px;
                    position: relative;

                    &::after{
                        content: '';
                        display: block;
                        width: 0%;
                        height: 5px;
                        background: rgba(75, 105, 100, 0.7);
                        position: absolute;
                        bottom: -7px;
                        left: 50%;
                        transform: translateX(-50%);
                        transform-origin: center;
                        transition: .5s;

                    }
                    
                    a{
                        font: bold 12px/1 'arial';
                        color: #999;
                        transition: 0.25s;
                    }

                    &:hover, &.on{
                        &::after{
                            width: 100%;
                        }
                        a{
                            color: #333;
                        }
                    }
                }
            }

            .joinWeb{
                position: absolute;
                bottom: 10px;
                right: 20px;

                li{
                    float: left;
                    margin-left: 30px;
                    position: relative;
                    
                    a{
                        font: normal 12px/1 'arial';
                        color: #999;
                        transition: 0.5s;

                        i{
                            margin-right: 5px;
                            font-size: 15px;
                            transform: translateY(2px);
                        }
                    }

                    &:hover, &.on{
                        a{ color: #333; }
                    }
                }
            }            
        }

        .btnCall{
            display: none;
        }
        .menuMo{
            display: none;
        }
    }
}
// sub content------------------------------
.content{
    width: 100%;
    padding-bottom: 100px ;
    overflow: hidden;
    min-height: 100vh;

    .sub_visual{
        width: 100%;
        height: 350px;
        background: #f8f8f8;

        .wrap{
            width: 1180px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            &.on{
                .pic{
                    opacity: 1;
                    top: 50%;
                }
                .con{
                    opacity: 1;
                    right: 30%;
                }
            }

            .pic{
                width: 400px;
                height: 200px;
                background: #fff;
                position: absolute;
                top: 40%;
                left: 10%;
                transform: translateY(-50%);
                opacity: 0; 
                transition: .8s;
            }
            
            .con{
                min-width: 550px;
                padding: 30px;
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translateY(-40%);
                opacity: 0;
                transition: 1s;
                border: 1px solid rgba(60, 90, 80, 1);

                h2{
                    font: bold 30px/1 'arial';
                    letter-spacing: 3px;
                    color: #333;
                    margin-bottom: 15px;
                }
                p{
                    color:#777;
                    font: normal 14px/1.6 'arial';
                    letter-spacing: 1px;     
                    padding: 0 20px;
                }                
            }



        }
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 50px 0px;
        position: relative;
        min-height: 80vh;
    }
}
// footer------------------------------
#footer{
    width: 100%;
    height: 350px;
    background: #f9f9f9;
    overflow: hidden;

    &::after{
        content: '';
        display: block;
        clear: both;
    }
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        padding: 0 50px;
       // border: 3px solid orange;

        .wrap_util{
            width: 600px;
            height: 200px;
            position: absolute;
            top: 50px;
            left: 5px;
           // border: 3px solid blue;

            &::after{
                content: '';
                display: block;
                width: 1180px;
                height: 1px;
                background: #ccc;
                position: absolute;
                bottom: -30px;
                left: -5px;
            }

            ul{
                float: left;
                margin-right: 100px;

                &:last-child{
                    margin-right: 0;
                }

                li{
                    margin-bottom: 25px;
                    
                    a{
                        font: 14px/1 'arial';
                        color: #555;
                        //transition: 1s;

                        &:hover{
                            text-decoration: underline;
                        }
                        
                    }

                }
            }
        }
        .wrap_news{
            width: 350px;
            height: 200px;
            position: absolute;
            top: 50px;
            right: 30px;
           // border: 3px solid blue;

            span{
                display: block;
                margin-bottom: 50px;
                font: bold 15px/1 'arial';
           
                i{
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            input{
                width: 100%;
                height: 30px;
                background: none;
                border: none;
                border-bottom: 1px solid #999; margin-bottom: 30px;
            }
            a{
                display: block;
                width: 120px;
                height: 30px;
                background: rgba(75, 105, 100, 0.85);
                font: normal 12px/30px 'arial';
                text-align: center;
                color: #fff;
                transition: 0.5s;

                &:hover{
                    background: rgba(75, 105, 100, 1);
                }
            }

        }

        p{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            font: 12px/1 'arial';
        }
        .sns{
            float: right;
            width: 280px;
            height: 20px;
            position: absolute;
            bottom: 20px;
            right: 0;

            ul{

                li{
                    float: left;
                    margin-right: 40px;
                    display: flex;

                    &:last-child{
                        margin-right: 0;
                    }
                    
                    a{
                        font-size: 15px;
                        color: rgba(51, 51, 51, 0.80);
                    }

                    &:hover a{

                        color: #333;
                    }
                }                
            }
        }

    }
}

@media screen and(max-width:1179px){
// header------------------------------
    #header_sub{
        .inner{
            width: 100%;
            h1{
                left: 3vw;
                a{ font-size: 25px;}
            }
            .menuWeb{
                #gnbWeb{                    
                    li{
                        margin-left: 30px;
                        a{ font-size: 11px; }
                    }
                }

                .joinWeb{
                    right: 3vw;

                    li{
                        margin-left: 20px;
                        a{ font-size: 11px; }
                    }
                }            
            }
        }
    }
// sub content------------------------------
    .content{
        .sub_visual{
            .wrap{
                width: 100%;
            }
        }
    }
}
@media screen and(max-width:949px){
// header------------------------------
    #header_sub{
        height: 40px;
        position: fixed;
        z-index: 5;
        background: rgba(75, 105, 100, 0.9)
        ;
        .inner{
            h1 a{color: #f9f9f9;}
            .menuWeb{ display: none; }
            .btnCall {
                position: absolute;
                bottom: 10px;                
                right: 3vw;
                width: 15px;
                height: 15px;
                display: block;
                z-index: 5;

                &::before {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 2px;
                  background: #f9f9f9;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: top 0.5s 0s, transform 0.5s 0.5s;
                }
                &::after {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 2px;
                  background: #f9f9f9;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  transition: transform 0.5s 0.5s, bottom 0.5s 0s;
                }
          
                span {
                  display: block;
                  width: 100%;
                  height: 2px;
                  background: #f9f9f9;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  margin-top: -1px;
                  text-indent: -999999px;
                  transition: all 1s;
                }
          
                &.on {
                  &::before {
                    top: 50%;
                    margin-top: -1px;
                    transform: rotate(-225deg);
                  }
                  &::after {
                    bottom: 50%;
                    margin-bottom: -1px;
                    transform: rotate(225deg);
                  }
                  & span {
                    transform: scale(0);
                    opacity: 0;
                  }
                }
            }
            .menuMo{
                display: block;
                position: fixed;
                top: 0;
                left: -270px;
                width: 270px;
                height: 100vh;
                background: #fff;
                padding: 35px;
                z-index: 10;
                transition: 1s;

                &.on{ left: 0; z-index: 10;}

                >h1{
                    top: 60px;
                    height: 30px;
                    margin-left: 10px;

                    &::after{
                        content: '';
                        display: block;
                        width: 200px;
                        height: 1px;
                        background: #999;
                        margin-top: 10px;
                        margin-left: -10px;
                    }
                }      
                
                #gnbMo{
                    //border: 3px solid blue;
                    margin-top: 75px;
                    margin-left: 5px;

                    li{
                        transform-origin: left center;
                        transition: 1s;
                        &::after{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 1px;
                            background: #ddd;
                            opacity: 0;
                            transition: 0.5s;
                            
                        }

                        >a{
                            //border: 1px solid red;
                            display: block;
                            width: 100%;
                            padding: 20px 0;
                            font: bold 14px/1 'arial';
                            color: #555;
                            cursor: pointer;
                        }

                        &:hover{
                            transform: scaleX(1.1);
                            &::after{ 
                                width: 100px;
                                opacity: 1;
                            }
                        }
                    }

                    
                }

                .joinMo{     
                    margin-left: 5px;                   
                    li{
                        a{
                            display: block;
                            padding: 20px 0;
                            font: normal 14px/1 'arial';
                            color: #777;
                            cursor: pointer;

                            &:hover{
                                color: #111;
                            }
                        }
                    }
                }

                .snsMo{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 100px;
                    text-align: center;

                    span{
                        font: normal 14px/1 'arial';
                        color: #777;
                        display: block;
                        margin-bottom: 15px;
                    }
                    ul{
                        width: 60%;
                        height: 30px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;

                        li{
                            float: left;
                            margin-right: 30px;
                            line-height: 30px;

                            &:last-child{ margin-right: 0; }
                            a{
                                font-size: 20px;
                                color: #777;
                                transition: 0.25s;
                                cursor: pointer;

                                &:hover{
                                    color: #333;
                                }
                            }
                            
                        }
                        
                    }                        
                }

                p{
                    position: absolute;
                    bottom: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    font: 11px/1.1 'arial';
                }                    


            }
        }
    }
// sub content------------------------------
    .content{
        padding: auto;
        padding-top: 40px;
        padding-bottom: 50px;

        .sub_visual{
            height: 180px;
            position: relative;
            .wrap{
                padding: 0;
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                
                
                .pic{display: none;}
                .con{
                    width: 60%;
                    padding: 0px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    border: none;

                    h2{ margin-bottom: 10px; }
                    p{ font: normal 12px/1.1 'arial'; }              
                }

            }
        }
    }
}
@media screen and(max-width:749px){
    #header_sub{
        height: 35px;

        .inner{
            h1{
                bottom: 0;
                a{ font-size: 18px; }
            }
    
            .btnCall {
                bottom: 8px;
                &::before, &::after{ height: 1px; }
                span{ 
                    margin-top: -1px; 
                    height: 1px;
                }
                &.on {
                    &::before {
                      top: 50%;
                      margin-top: 0px;
                      transform: rotate(-135deg);
                    }
                    &::after {
                      bottom: 50%;
                      margin-bottom: -1px;
                      transform: rotate(135deg);
                    }
                    & span {
                      transform: scale(0);
                      opacity: 0;
                    }
                  }
            }
            .menuMo{   
                
                #gnbMo {
                    li{
                        a{ font-size: 12px; }
                    }
                }

                .joinMo{     
                    margin-left: 5px;                   
                    li{
                        a{ font-size: 12px;}
                    }
                }

                .snsMo{
                    span{
                        font: normal 12px/1 'arial';
                    }
                    ul{
                        justify-content: space-around;

                        li{
                            a{ font-size: 15px; } 
                        }
                        
                    }                        
                }

                p{
                    font: 10px/1.1 'arial';
                    color: #555;
                }                    


            }
        }
    }
    // sub content------------------------------
    .content{
        padding-top: 35px;

        .sub_visual{
            height: 170px;
            .wrap{
                .con{
                    h2{ font-size: 25px; }
                    p{ font-size: 10px; }              
                }

            }
        }
    }
}
@media screen and(max-width:539px){
    #header_sub{    
            .btnCall { bottom: 5px; }
            .menuMo{   
                >h1{ margin-left: 30px; }                  
            }
    }  
    // sub content------------------------------
    .content{
        .sub_visual{
            padding-bottom: 0px;
            height: 100px;
            .wrap{
                .con{
                    h2{ margin-bottom: 0; }
                    p{ display: none; }              
                }

            }
        }
    }  
}