@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100&family=Roboto:wght@100;300&display=swap');

@import "reset.scss";
@import "sublayout.scss";
@import "notice.scss";
@import "about.scss";
@import "gallery.scss";
@import "join.scss";
@import "location.scss";
@import "brand.scss";

// header------------------------------
#header{
    width: 100%;
    height: 50px;
    overflow: hidden;

    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            a{
                font: bold 30px/1 'DM Serif Display';
                color: #333;
                letter-spacing: 2px;
            }
        }
        .menuWeb{
            display: block;

            #gnbWeb{
                position: absolute;
                top: 50%;
                left: 100px;
                transform: translateY(-50%);
                display: block;
                
                li{
                    float: left;
                    margin-left: 60px;
                    
                    a{
                        font: bold 12px/1 'arial';
                        color: #a0a0a0;
                        transition: 0.25s;
                    }

                    &.on{
                        a{
                            color: #333;
                        }
                    }
                    &:hover a{
                        color: #333;
                    }
                }
            }

            .joinWeb{
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);

                li{
                    float: left;
                    margin-left: 30px;
                    
                    a{
                        font: normal 12px/1 'arial';
                        color: #999;
                        transition: 0.5s;

                        i{
                            margin-right: 5px;
                            font-size: 15px;
                            transform: translateY(2px);
                        }
                    }

                    &:hover a{
                    color: #333;
                    }
                }
            }            
        }

        .btnCall{
            display: none;
        }
        .menuMo{
            display: none;
        }
    }
}

// intro------------------------------
#intro{
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;

    .swiper{
        height: 100%;
        .swiper-wrapper{
            // width: 100%;
            // height: 100%;

            .swiper-slide{

                .inner{
                    width: 100%;
                    height: 100%;
                    background: #333;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .wrap{
                        width: 1000px;
                        padding: 80px 0;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                        background: rgba(0, 0, 0, 0.5);
                       // border: 5px solid orange;

                        .con{
                            //border: 5px solid lightseagreen;
                            text-align: center;
                            h2{
                                font: normal 60px/1.1 'DM Serif Display';
                                letter-spacing: 1px;
                                margin-bottom: 20px;
                                color: #fff;
                            }
                            p{
                                font: bold 18px/1.3 'Montserrat';
                                color: rgba(255, 255, 255, 0.8);
                            }
                        }                      
                    }
                }
            }
        }
        .swiper-pagination{
            //border: 1px solid orange;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        .swiper-pagination-bullet { 
            width: 10px; 
            height: 10px; 
            margin: 0 5px;
            background: transparent; 
            border: 1px solid #fff; 
            opacity: 1; 
        }
        .swiper-pagination-bullet-active { 
            width: 40px; 
            transition: width .5s; 
            border-radius: 5px; 
            background: #fff; 
            border: 1px solid transparent; 
        }
    }

}

// rooms------------------------------
#rooms{
    width: 100%;
    height: 500px;

    .inner{
        width: 100%;
        height: 100%;
        position: relative;

        article{
            float: left;
            width: calc(100% / 3);
            height: 100%;

            .wrap{
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                transition: 1s;


                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1s;
                    filter: grayscale(0.6);
                }
                .con{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    transition: 1s;
                    opacity: 0.7;
                
                    p{
                        font: normal 12px/1 'arial';
                        margin-bottom: 15px;
                        color: #fff;
                    }
                    h2{
                        font-size: 32px;
                        margin-bottom: 50px;
                        color: #fff;
                    }
                    a{
                        display: inline-block;
                        width: 120px;
                        height: 35px;
                        border: 1px solid #fff;
                        font: bold 12px/35px 'arial';
                        color: #fff;
                        transition: 0.75s;

                        &:hover{
                            background: #fff;
                            color: #333;
                            font-weight: normal;
                        }
                    }
                }                
            }

            &:hover{
                .wrap{
                    img{
                        transform: scale(1.05) rotate(.001deg);
                        filter: grayscale(0);
                    }
                    .con{
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1.1);
                    }                    
                }
            }
        }
    }
}

// review------------------------------
#review{
    width: 100%;
    padding: 100px 0;
    background: #e9e9e9;
    overflow: hidden;
    
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        //border: 3px solid orange;

        h2{
            color: #333;
            font: normal 40px/1 'DM Serif Display';
            margin-bottom: 30px;
        }
        >p{
            color: #777;
            font: normal 15px/1 'arial';
            margin-bottom: 30px;
        }
        .reviewSwiper{
           // border: 3px solid blue;
            width: 100%;
            padding: 0 10px;

            .swiper-wrapper{
                padding: 50px 0;
                .swiper-slide{
                  //  border: 3px solid rebeccapurple;
                    width: 300px;
                    background: rgba(255, 255, 255, 0.6);
                    padding: 60px 30px 30px;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        position: absolute;
                        top: -50px;
                    }
                    .con{
                        width: 100%;
                        height: 200px;

                        h4{
                            margin: 15px 0;
                            font: bold 20px/1 'arial';
                        }
                        p{
                            font: normal 15px/1.5 'arial';
                            color: #777;
                            margin-bottom: 20px;
                        }
                        span{
                            font: normal 12px/1 'arial';
                            color: #555;
                            display: block;
                            text-align: right;
                        }                        
                    }

                }
            }
        }
        .reviewMo{
            display: none;
        }
    }
}

// video------------------------------
#video{
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .con{
        width: 1180px; height: 100%;
        margin: 0 auto;
        padding: 100px 200px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1{
            font: normal 40px/1 'DM Serif Display';
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 30px;
        }
        p{
            font: normal 15px/1.5 'arial';
            color: #eee;
            margin-bottom: 50px;
        }
        a{
            display: inline-block;
            width: 300px; height: 30px;
            border: 1px solid #ddd;
            font: normal 12px/30px 'arial';
            color: #ddd;
            transition: .5s;

            &:hover{
                background: rgba(255, 255, 255, .3);
                color: #fff;
            }
        }
    }
}

// insta------------------------------
#insta{
    width: 100%;
    height: 800px;
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    //border: 3px solid orange;

    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        //border: 3px solid salmon;

        h2{
            font: normal 40px/1 'DM Serif Display';
            margin-bottom: 20px;
        }
        p{
            font: 15px/1 'arial';
            margin-bottom: 30px;
        }
        .arrow{
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            background: transparent;
            //border: 1px solid red;

            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #333;
                position: absolute;
                top: calc(50% - 0px);
                right: 0;
                transform: rotate(30deg);
                transform-origin: right center;
            }
            &::after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #333;
                position: absolute;
                bottom: calc(50% - 0px);
                right: 0;
                transform: rotate(-30deg);
                transform-origin: right center;
            }
        }
        .wrap{
            width: 100%;
            .instaSwiper{
                width: 100%;
                height: 420px;
                //border: 3px solid orange;
                .swiper-wrapper{
                    .swiper-slide{
                        img{
                            width: 280px;
                            height: 350px;
                            object-fit: cover;
                        }

                    }

                }

                .swiper-pagination, 
                .swiper-pagination-progressbar, 
                .swiper-pagination-horizontal{
                    width: 100%;
                    height: 4px;
                    left: 0;
                    top: 95%;
                }

                .swiper-pagination-progressbar{
                    width: 50%;

                }
                .swiper-pagination-progressbar-fill{
                    background-color: #555;
                }

            }

        }
    }

}

// footer------------------------------
#footer{
    width: 100%;
    height: 350px;
    background: #f9f9f9;
    overflow: hidden;

    &::after{
        content: '';
        display: block;
        clear: both;
    }
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        padding: 0 50px;
       // border: 3px solid orange;

        .wrap_util{
            width: 600px;
            height: 200px;
            position: absolute;
            top: 50px;
            left: 5px;
           // border: 3px solid blue;

            &::after{
                content: '';
                display: block;
                width: 1180px;
                height: 1px;
                background: #ccc;
                position: absolute;
                bottom: -30px;
                left: -5px;
            }

            ul{
                float: left;
                margin-right: 100px;

                &:last-child{
                    margin-right: 0;
                }

                li{
                    margin-bottom: 25px;
                    
                    a{
                        font: 14px/1 'arial';
                        color: #555;
                        //transition: 1s;

                        &:hover{
                            text-decoration: underline;
                        }
                        
                    }

                }
            }
        }
        .wrap_news{
            width: 350px;
            height: 200px;
            position: absolute;
            top: 50px;
            right: 30px;
           // border: 3px solid blue;

            span{
                display: block;
                margin-bottom: 50px;
                font: bold 15px/1 'arial';
           
                i{
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            input{
                width: 100%;
                height: 30px;
                background: none;
                border: none;
                border-bottom: 1px solid #999; margin-bottom: 30px;
            }
            a{
                display: block;
                width: 120px;
                height: 30px;
                background: rgba(75, 105, 100, 0.85);
                font: normal 12px/30px 'arial';
                text-align: center;
                color: #fff;
                transition: 0.5s;

                &:hover{
                    background: rgba(75, 105, 100, 1);
                }
            }

        }

        p{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            font: 12px/1 'arial';
        }
        .sns{
            float: right;
            width: 280px;
            height: 20px;
            position: absolute;
            bottom: 20px;
            right: 0;

            ul{

                li{
                    float: left;
                    margin-right: 40px;
                    display: flex;

                    &:last-child{
                        margin-right: 0;
                    }
                    
                    a{
                        font-size: 15px;
                        color: rgba(51, 51, 51, 0.80);
                    }

                    &:hover a{

                        color: #333;
                    }
                }                
            }
        }

    }
}

@media screen and(max-width:1179px){
    // header------------------------------
    #header{    
        .inner{
            width: 100%;
            h1{
                left: 30px;
                a{ font-size: 25px;}
            }
            .menuWeb{
                #gnbWeb{
                    top: 60%;
                    li{
                        float: left;
                        margin-left: 30px;
                        a{ font-size: 11px; }
                    }
                }
                .joinWeb{
                    top: 60%;
                    li{
                        margin-left: 20px;
                        a{ font-size: 11px; }
                    }
                }            
            }
        }
    }
    
    // intro------------------------------
    #intro{
        height: calc(100vh - 50px);
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    .inner{
                        .wrap{
                            width: 80vw;
                            padding: 50px 10px;
    
                            .con{
                                h2{
                                    font: normal 32px/1.2 'DM Serif Display';
                                    margin-bottom: 20px;
                                }
                                p{
                                    font: bold 15px/1.5 'Montserrat';
                                }
                            }                      
                        }
                    }
                }
            }
        }
    }
    
    // rooms------------------------------
    #rooms{
        height: 400px;
    
        .inner{  
            article{
                .wrap{
                    .con{
                        p{ font-size: 10px; }
                        h2{
                            font-size: 25px;
                            margin-bottom: 30px;
                        }
                        a{
                            display: inline-block;
                            width: 100px;
                            height: 30px;
                            font: bold 10px/30px 'arial';
                        }
                    }                
                }
            }
        }
    }

    // review------------------------------
    #review{
        padding: 100px 30px;
        
        .inner{
            width: 100%;
    
            h2{
                font: normal 30px/1 'DM Serif Display';
                margin-bottom: 20px;
            }
            >p{
                color: #777;
                font: normal 12px/1 'arial';
                margin-bottom: 20px;
            }
            // 여기 스와이퍼 랩퍼 바꾸기
            .reviewSwiper{
             //   border: 3px solid blue;
                width: 100%;
    
                .swiper-wrapper{
                    padding: 50px 0;
                    .swiper-slide{
                        //border: 3px solid rebeccapurple;
                        width: 300px;
                        background: rgba(255, 255, 255, 0.6);
                        padding: 60px 20px 10px;
                        img{
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            position: absolute;
                            top: -40px;
                        }
                        .con{
                            width: 100%;
                            height: 180px;
                            
                            h4{
                                margin: 14px 0;
                                font: bold 20px/1 'arial';
                            }
                            p{
                                font: normal 13px/1.3 'arial';
                                color: #777;
                                margin-bottom: 20px;
                            }
                            span{
                                font: normal 11px/1 'arial';
                                color: #555;
                                display: block;
                                text-align: right;
                            }                        
                        }
                    }
                }
            }
            .reviewMo{
                display: none;
            }
        }
    }

    // video------------------------------
    #video{
        height: 30vh;
  
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .con{
            width: 100%; height: 100%;
            margin: 0 auto;
            padding: 50px 150px;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
    
            h1{
                font: normal 30px/1 'DM Serif Display';
                color: #fff;
                letter-spacing: 3px;
                margin-bottom: 30px;
            }
            p{
                font: normal 15px/1.5 'arial';
                color: #eee;
                margin-bottom: 30px;
            }
            a{
                display: inline-block;
                width: 300px; height: 25px;
                border: 1px solid #ddd;
                font: normal 11px/25px 'arial';
                color: #ddd;
                transition: .5s;
    
                &:hover{
                    background: rgba(255, 255, 255, .3);
                    color: #fff;
                }
            }
        }
    }

    // insta------------------------------
    // 사진 스와이퍼말고 사진첩 형식으로 변경!!!!
    #insta{
        padding: 100px 30px 100px;

        .inner{
            width: 100%;
    
            h2{ font: normal 30px/1 'DM Serif Display'; }
            p{ font: 15px/1 'arial'; }
            .wrap{
                width: 100%;


                .instaSwiper{
                    width: 100%;
                    height: 420px;
                  //  border: 3px solid orange;
                    .swiper-wrapper{
                        .swiper-slide{
                            img{
                                width: 200px;
                                height: 300px;
                                object-fit: cover;
                            }
    
                        }
    
                    }
    
                    .swiper-pagination, 
                    .swiper-pagination-progressbar, 
                    .swiper-pagination-horizontal{
                        width: 100%;
                        height: 4px;
                        left: 0;
                        top: 95%;
                    }
    
                    .swiper-pagination-progressbar{
                        width: 50%;
    
                    }

                    }
    
                }
    
            }
        }
    
    // footer------------------------------
    #footer{
        .inner{
            width: 100%;
            .wrap_util{
                width: 500px;
                left: 50px;

                &::after{
                    width: 100vw;
                    left: -50px;
                }

                ul{
                    margin-right: 80px;
                }
            }
            .wrap_news{
                width: 300px;
                right: 50px;
            }
        }
    }
}

@media screen and (max-width:949px){
    // header------------------------------
    #header{
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 2;

        .inner{
            >h1{
                a{ font-size: 25px; }
            }
            .menuWeb{ display: none; }
    
            .btnCall {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                display: block;
                z-index: 4;

                &::before {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 2px;
                  background: #000;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: top 0.5s 0s, transform 0.5s 0.5s;
                }
                &::after {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 2px;
                  background: #000;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  transition: transform 0.5s 0.5s, bottom 0.5s 0s;
                }
          
                span {
                  display: block;
                  width: 100%;
                  height: 2px;
                  background: #000;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  margin-top: -1px;
                  text-indent: -999999px;
                  transition: all 1s;
                }
          
                &.on {
                  &::before {
                    top: 50%;
                    margin-top: -1px;
                    transform: rotate(-225deg);
                  }
                  &::after {
                    bottom: 50%;
                    margin-bottom: -1px;
                    transform: rotate(225deg);
                  }
                  & span {
                    transform: scale(0);
                    opacity: 0;
                  }
                }
            }
            .menuMo{
                display: block;
                position: fixed;
                top: 0;
                left: -270px;
                width: 270px;
                height: 100vh;
                background: #fff;
                padding: 35px;
                z-index: 5;
                transition: 1s;

                &.on{ left: 0; }

                >h1{
                    top: 80px;
                    margin-left: 10px;

                    &::after{
                        content: '';
                        display: block;
                        width: 200px;
                        height: 1px;
                        background: #999;
                        margin-top: 10px;
                        margin-left: -10px;
                    }
                }      
                
                #gnbMo {
                    //border: 3px solid blue;
                    margin-top: 75px;
                    margin-left: 5px;

                    li{
                        transform-origin: left center;
                        transition: 1s;
                        &::after{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 1px;
                            background: #ddd;
                            opacity: 0;
                            transition: 0.5s;
                            
                        }

                        a{
                            //border: 1px solid red;
                            display: block;
                            width: 100%;
                            padding: 20px 0;
                            font: bold 14px/1 'arial';
                            color: #555;

                        }

                        &:hover{
                            transform: scaleX(1.1);
                            &::after{ 
                                width: 100px;
                                opacity: 1;
                            }
                        }
                    }

                    
                }

                .joinMo{     
                    margin-left: 5px;                   
                    li{
                        a{
                            display: block;
                            padding: 20px 0;
                            font: normal 14px/1 'arial';
                            color: #777;

                            &:hover{
                                color: #111;
                            }
                        }
                    }
                }

                .snsMo{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 100px;
                    text-align: center;

                    span{
                        font: normal 14px/1 'arial';
                        color: #777;
                        display: block;
                        margin-bottom: 15px;
                    }
                    ul{
                        width: 60%;
                        height: 30px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;

                        li{
                            float: left;
                            margin-right: 30px;
                            line-height: 30px;

                            &:last-child{ margin-right: 0; }
                            a{
                                font-size: 20px;
                                color: #777;
                                transition: 0.25s;

                                &:hover{
                                    color: #333;
                                }
                            }
                            
                        }
                        
                    }                        
                }

                p{
                    position: absolute;
                    bottom: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    font: 11px/1.1 'arial';
                }                    


            }
        }
    }
    
    // intro------------------------------
    #intro{
        height: 100vh;
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    .inner{
                        .wrap{
                            width: 80vw;
                            padding: 50px 10px;
    
                            .con{
                                h2{
                                    font: normal 30px/1.2 'DM Serif Display';
                                    margin-top: 0px;
                                }
                                p{
                                    font: bold 12px/1.5 'Montserrat';
                                }
                            }

                        }
                    }
                }
            }
        }
    }
    
    // rooms------------------------------
    #rooms{
        height: 100vh;
    
        .inner{  
            article{
                width: 100%;
                height: calc(100% / 3);
                .wrap{
                    .con{
                        p{ font-size: 10px; }
                        h2{
                            font-size: 25px;
                            margin-bottom: 30px;
                        }
                        a{
                            display: inline-block;
                            width: 100px;
                            height: 30px;
                            font: bold 10px/30px 'arial';
                        }
                    }                
                }
            }
        }
    }

    // review------------------------------
    //생각해보기...
    #review{
        padding: 50px 20px;
        
        .inner{
            width: 100%;
    
            h2{
                font: normal 30px/1 'DM Serif Display';
                margin-bottom: 20px;
            }
            >p{
                color: #777;
                font: normal 12px/1 'arial';
                margin-bottom: 20px;
            }
            .reviewSwiper{ display: none; }
            .reviewMo{
                display: block;
                width: 100%;
                padding: 50px 0;
                position: relative;

                article{
                    width: 100%;
                    padding: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.904);
                    margin-bottom: 30px;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                        
                    }
                    .con{
                        width: calc(100% - 130px);
                        h4{
                            font: normal 18px/1 'dm serif display';
                            letter-spacing: 1px;
                            color: #555;
                            margin-bottom: 10px;
                        }
                        p{
                            font: normal 12px/1.5 'arial';
                            color: #777;
                            margin-bottom: 10px;
                            width: 80%;
                        }
                        span{
                            display: block;
                            text-align: right;
                            font: 10px/1 'arial';
                            color: #999;
                            margin-right: 20px;
                        }
                    }
                }

                a{
                    font: 12px/1 'arial';
                    text-align: center;
                    color: #fff;
                    line-height: 30px;
                    display: block;
                    width: 100px;
                    height: 30px;
                    background: rgba(75, 105, 100, 0.8);
                    position: absolute;
                    bottom: 10px;
                    right: 30px;
                    transition: 0.5s;

                    &:hover{
                        background: rgba(75, 105, 100, 1);
                        font-size: 13px;
                    }
                }
            }
        }
    }
    // video------------------------------
    #video{
        .con{
            padding: 50px 100px;
    
            h1{ font: normal 30px/1 'DM Serif Display'; }
            p{ font: normal 12px/1.5 'arial'; }
            a{ font: normal 10px/25px 'arial'; }
        }
    }
    // insta------------------------------
    // 사진 스와이퍼말고 사진첩 형식으로 변경?..
    #insta{
        height: 600px;
        padding: 50px 30px;

        .inner{
            width: 100%;
            height: 0px;
            
            h2{ font: normal 30px/1 'DM Serif Display'; }
            p{ font: 15px/1 'arial'; }
            .wrap{
                width: 100%;
               // border: 3px solid orange;

                .instaSwiper{
                    width: 100%;
                    height: 350px;
                    .swiper-wrapper{
                        .swiper-slide{
                            img{
                                width: 20vw;
                                height: 250px;
                                object-fit: cover;
                            }
    
                        }
    
                    }
    
                    .swiper-pagination, 
                    .swiper-pagination-progressbar, 
                    .swiper-pagination-horizontal{
                        width: 100%;
                        height: 4px;
                        left: 0;
                        top: 95%;
                    }
    
                    .swiper-pagination-progressbar{
                        width: 50%;
    
                    }

                    }
    
                }
    
            }
        }
    
    // footer------------------------------
    #footer{
        height: 250px;
        .inner{
            width: 100%;
            .wrap_util{
                width: 500px;
                left: 30px;
    
                &::after{ display: none; }
                ul{ margin-right: 50px; }
            }
            .wrap_news{
                width: 230px;
                right: 30px;
            }
            p, .sns{ display: none; }
        }
    }
}

@media screen and (max-width:749px){
    // header------------------------------
    #header{
        height: 35px;

        .inner{
            h1{
                a{ font-size: 18px; }
            }
    
            .btnCall {
                width: 15px;
                height: 15px;

                &::before, &::after{ height: 1px; }
                span{ 
                    margin-top: 0; 
                    height: 1px;
                }
            }
            .menuMo{   
                
                #gnbMo {
                    li{
                        a{ font-size: 12px; }
                    }
                }

                .joinMo{     
                    margin-left: 5px;                   
                    li{
                        a{ font-size: 12px;}
                    }
                }

                .snsMo{
                    span{
                        font: normal 12px/1 'arial';
                    }
                    ul{
                        justify-content: space-around;

                        li{
                            a{ font-size: 15px; } 
                        }
                        
                    }                        
                }

                p{
                    font: 10px/1.1 'arial';
                    color: #555;
                }                    


            }
        }
    }
    
    // intro------------------------------
    #intro{
        height: 100vh;
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    .inner{
                        .wrap{
                            width: 80vw;
                            padding: 50px 10px;
    
                            .con{
                                h2{
                                    font: normal 30px/1.2 'DM Serif Display';
                                    margin-top: 0px;
                                }
                                p{
                                    font: bold 12px/1.5 'Montserrat';
                                }
                            }

                        }
                    }
                }
            }
        }
    }
    
    // rooms------------------------------
    #rooms{
        height: 100vh;
    
        .inner{  
            article{
                width: 100%;
                height: calc(100% / 3);
                .wrap{
                    float: left;
                    .img{
                        width: 50%;
                        height: 100%;
                    }
                    .con{
                        width: 50%;
                        p{ font-size: 10px; }
                        h2{
                            font-size: 25px;
                            margin-bottom: 30px;
                        }
                        a{
                            display: inline-block;
                            width: 100px;
                            height: 30px;
                            font: bold 10px/30px 'arial';
                        }
                    }                
                }
            }
        }
    }

    // review------------------------------
    //생각해보기...
    #review{
        padding: 50px 20px;
        
        .inner{
            width: 100%;
    
            h2{ font-size: 25px; }
            >p{
                color: #777;
                font: normal 12px/1 'arial';
                margin-bottom: 20px;
            }
            .reviewMo{
                display: block;
                width: 100%;
                padding: 30px 0;
                position: relative;

                article{
                    width: 100%;
                    padding: 30px 10px 20px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.904);
                    margin-bottom: 30px;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                        
                    }
                    .con{
                        width: calc(100% - 130px);
                        h4{
                            font: normal 18px/1 'dm serif display';
                            letter-spacing: 1px;
                            color: #555;
                            margin-bottom: 10px;
                        }
                        p{
                            width: 80%;
                            font: normal 14px/1.4 'arial';
                            color: #777;
                            margin-bottom: 20px;
                            display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; line-height:18px; height:54px; 
                        }
                        span{
                            display: block;
                            text-align: right;
                            font: 10px/1 'arial';
                            color: #999;
                            margin-right: 20px;
                        }
                    }
                }

                a{
                    font: 12px/1 'arial';
                    text-align: center;
                    color: #fff;
                    line-height: 30px;
                    display: block;
                    width: 100px;
                    height: 30px;
                    background: rgba(75, 105, 100, 0.8);
                    position: absolute;
                    bottom: 10px;
                    right: 30px;
                    transition: 0.5s;

                    &:hover{
                        background: rgba(75, 105, 100, 1);
                        font-size: 13px;
                    }
                }
            }
        }
    }
    // video------------------------------
    #video{
        .con{
            padding: 100px 100px;
    
            p{ display: none;}
        }
    }
    // insta------------------------------
    // 사진 스와이퍼말고 사진첩 형식으로 변경?..
    #insta{
        height: 600px;
        padding: 50px 30px;

        .inner{
            width: 100%;
            height: 0px;
            
            h2{ font: normal 30px/1 'DM Serif Display'; }
            p{ font: 15px/1 'arial'; }
            .wrap{
                width: 100%;
               // border: 3px solid orange;

                .instaSwiper{
                    width: 100%;
                    height: 350px;
                    .swiper-wrapper{
                        .swiper-slide{
                            img{
                                width: 20vw;
                                height: 250px;
                                object-fit: cover;
                            }
    
                        }
    
                    }
    
                    .swiper-pagination, 
                    .swiper-pagination-progressbar, 
                    .swiper-pagination-horizontal{
                        width: 100%;
                        height: 4px;
                        left: 0;
                        top: 95%;
                    }
    
                    .swiper-pagination-progressbar{
                        width: 50%;
    
                    }

                    }
    
                }
    
            }
        }
    
    // footer------------------------------
    #footer{
        height: 240px;
        .inner{
            width: 100%;
            .wrap_util{
                width: 500px;
                left: 30px;
    
                &::after{ display: none; }
                ul{ 
                    margin-right: 40px; 

                    &:nth-of-type(2){ display: none;}
                    li{ 
                        margin-bottom: 20px;
                        a{
                          font: normal 12px/1 'arial';  
                        }
                    }                    
                }
            }

            .wrap_news{
                width: 200px;

                span{
                    margin-bottom: 40px;
                    font: bold 12px/1 'arial';
                }
                input{
                    width: 100%;
                    height: 30px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid #999; margin-bottom: 30px;
                }
                a{
                    display: block;
                    width: 100px;
                    height: 25px;
                    background: rgba(75, 105, 100, 0.85);
                    font: normal 11px/25px 'arial';
                }
    
            }
            p, .sns{ display: none; }
        }
    }
}

@media screen and(max-width:539px){
    
}

