@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Open+Sans:wght@300&display=swap');

@import "reset.scss";
@import "sublayout.scss";
@import "community.scss";
@import "about.scss";
@import "gallery.scss";
@import "join.scss";
@import "location.scss";
@import "youtube.scss";

// header------------------------------
#header{
    width: 100%;
    height: 80px;
    background: transparent;
    position: absolute;
    top: 0 ; left: 0;
  //  overflow: hidden;
    z-index: 5;

    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        overflow: hidden;

        h1{
            position: absolute;
            bottom: 50%;
            left: 2vw;
            transform: translateY(50%);
            >a{
                font: normal 30px/1 'Cantata One';
                color: #fff;
                letter-spacing: 2px;
            }
        }
        .menuWeb{
            width: 100%;
            display: block;

            #gnbWeb{
                position: absolute;
                top: 50%;
                left: 100px;
                display: block;
                
                li{
                    float: left;
                    margin-left: 60px;
                    position: relative;

                    &::after{
                        content: '';
                        display: block;
                        width: 0%;
                        height: 5px;
                        background: rgba(75, 105, 100, 0.7);
                        position: absolute;
                        bottom: -8px;
                        left: 50%;
                        transform: translateX(-50%);
                        transform-origin: center;
                        transition: .5s;
                    }
                    
                    a{
                        font: normal 12px/1 'arial';
                        color: #fff;
                        transition: 0.25s;
                    }

                    &:hover, &.on{
                        &::after{
                            width: 100%;
                        }
                        a{
                            color: #333;
                        }
                    }
                }
            }

            .joinWeb{
                position: absolute;
                top: 50%;
                right: 2vw;

                li{
                    float: left;
                    margin-left: 30px;
                    
                    a{
                        font: normal 12px/1 'arial';
                        color: #fff;
                        transition: 0.5s;

                        i{
                            margin-right: 5px;
                            font-size: 15px;
                            transform: translateY(2px);
                        }
                    }

                    &:hover a{
                    color: #333;
                    }
                }  
                .popup{
                    display: block;
                    width: 280px;
                    height: 180px;
                    padding: 20px;
                    background: rgba(255, 255, 255, 0.9);
                    position: fixed;
                    z-index: 5;
                    top: 80px;
                    right: 0px;
                    transform: translateX(280px);
                    opacity: 0;
                    transition: 1s;
                    table{
                        width: 100%;
                        th{
                            text-align: center;
                            width: 50px;
                            font: bold 11px/1 'arial';
                            color: #777;

                            //reset,submit btn
                            &:last-child{
                                text-align: center;
                                padding-top: 20px;
                            }
                            input[type=submit]{
                                width: 100px;
                                height: 30px;
                                border: none;
                                background: rgba(75, 105, 100, 0.85);
                                font: normal 11px/30px 'arial';
                                color: #eee;
                                letter-spacing: 1px;
                                transition: 0.8s;

                                &:hover{
                                    background: rgba(75, 105, 100, 1);
                                }
                            }
                        }
                        td{
                            padding: 5px;

                            //텍스트 칸 레이아웃 설정
                            input[type="text"], input[type="password"]{
                                width: 140px;
                                height: 30px;
                                border: none;
                                border-bottom: 1px solid #ccc;
                                color: #777;
                                text-indent: 5px;
                                font: normal 12px/1 'arial';
                            }
                            input::placeholder{
                                color: 777;
                            }
                        }

                    }
                    
                    &.on{ 
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }                                
            }    
    
        }
 
        .btnCall{
            display: none;
        }
        .menuMo{
            display: none;
        }
    }
}

// intro------------------------------
#intro{
    width: 100%;
    height: 100vh;
    background: #555;
    overflow: hidden;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
    }
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%) scale(1.3);
        transform-origin: center;
        opacity: 0;
        transition: 1.5s;
        overflow: hidden;

        &.on{
            transform: scale(1) translate(-50%, -50%);
            opacity: 1;
        }

        .txt{
            width: 100%;
            text-align: center;
            overflow: hidden;
    
            span{
                display: block;
                text-align: center;
                font: normal 16px/1 'open sans';
                color: #fff;
                margin-bottom: 30px;
            }
            h1{
                font: normal 70px/1 'Cantata One';
                letter-spacing: 1px;
                color: #fff;
                margin-bottom: 20px;
            }
            p{
                display: inline-block;
                width: 50%;
                font: normal 18px/1.4 'open sans';
                color: #fff;
                margin-bottom: 30px;
            }            
        }
    }
}

// rooms------------------------------ 
#rooms{
  //  border: 1px solid red;
    background: #fff;
    width: 100%;
    padding: 100px 0;

    .inner{
        //border: 1px solid red;
        width: 1180px;
        margin: 0 auto;
        position: relative;
        
        .title{
            width: 100%;
            margin-bottom: 50px;

            &::after{
                content: '';
                display: block;
                clear: both;
            }
            h1{
                width: calc((100%/3)*2);
                float: left;
                font: normal 40px/1.5 'cantata one';
                letter-spacing: 2px;
            } 
            p{
                width: calc(100%/3);
                float: left;
                padding: 0 15px;
                font: normal 12px/2 'arial';
                color: #777;
            }           
        }

        &::after{
            content: '';
            display: block;
            clear: both;
        }
        article{
            width: calc((100% - 40px)/3);
            height: 450px;
            float: left;
            margin-right: 20px;
            position: relative;
            transition: 1s;
            overflow: hidden;
            background: #111;

            &:hover{
                .wrap{
                    img{ 
                        opacity: 1;
                        transform: scale(1.1);
                    }
                    .con{opacity: 0;}
                }
                .back{ opacity: 1;}
            }

            &:last-child{margin-right: 0;}

            .wrap{
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .5s;
                    opacity: .5;
                }
                .con{
                    width: 80%;
                    height: 150px;
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #fefefee0;
                    padding: 30px;
                    text-align: center;
                    transition: .5s;
                    h2{
                        font: bold 18px/1 'arial';
                        margin-bottom: 10px;
                        color: #333;
                    }
                    span{
                        font: normal 14px/1.2 'arial';
                        color: #777;
                    }
                }

            }
            .back{
                width: 100%;
                height: 100%;
                background: transparent;
                position: absolute;
                top: 0; left: 0;
                opacity: 0;
                transition: .5s;
                
                i{
                    font-size: 50px;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                }
            }

        }
    }
}

// video------------------------------
#video{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .con{
        width: 1180px; height: 90%;
        margin: 0 auto;
        padding: 80px 200px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1{
            font: normal 40px/1 'Cantata One';
            color: #fff;
            letter-spacing: 3px;
            margin-bottom: 30px;
        }
        p{
            font: normal 15px/1.5 'arial';
            color: #eee;
            margin-bottom: 50px;
        }
        a{
            display: inline-block;
            width: 300px; height: 30px;
            border: 1px solid #ddd;
            font: normal 12px/30px 'arial';
            color: #ddd;
            transition: .5s;

            &:hover{
                background: rgba(255, 255, 255, .3);
                color: #fff;
            }
        }
    }
}

// review------------------------------
#review{
    width: 100%;
    height: 500px;
    padding: 100px 0;
    background: #f8f8f8;
    overflow: hidden;
    
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        &::after{
            content: '';
            display: block;
            clear: both;
        }
        .con{
            width: 20%;
            height: 100%;
            float: left;
            position: relative;
            
            h2{
                color: #333;
                font: normal 40px/1 'Cantata One';
                letter-spacing: 1px;
                display: block;
                margin-bottom: 20px;
            }   
            p{
                font: 14px/1 'arial';
                color: #777;
            }
            
            // 페이지네이션 화살표
            .swiper-next{
                width: 50px;
                height: 51px;
                position: absolute;
                top: 40%; right: 0%;
                cursor: pointer;
                transition: .5s;

                &:hover{
                    right: -30px;
                }
                &::before{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: #777;
                    position: absolute;
                    top: 50%; right: 0px;
                    transform: rotate(30deg);
                    transform-origin: center right; 
                }
                &::after{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: #777;
                    position: absolute;
                    top: 50%; right: 0px;
                    transform: rotate(-30deg);
                    transform-origin: right center;
                }

                span{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 60px;
                    height: 1px;
                    background: #777;
                }
            }

            .swiper-prev{
                width: 50px;
                height: 51px;
                position: absolute;
                top: 40%; left: 100px;
                cursor: pointer;
                transition: .5s;

                &:hover{ left: 70px;}

                &::before{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: #777;
                    position: absolute;
                    top: 50%; left: 0px;
                    transform: rotate(30deg);
                    transform-origin: center left; 
                }
                &::after{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: #777;
                    position: absolute;
                    top: 50%; left: 0px;
                    transform: rotate(-30deg);
                    transform-origin: center left;
                }
                span{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 40px;
                    height: 1px;
                    background: #777;
                }
            }
        }

        .reviewSwiper{
            width: 75%;
            height: 100%;
            float: right;
            padding: 10px;

            .swiper-wrapper{
                .swiper-slide{
                    width: calc(100% / 2);
                    height: 100%;
                    background: rgba(255, 255, 255, 0.6);
                    padding: 30px;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    .txt{ 
                        i{
                            font-size: 30px;
                            color: rgba(60, 95, 90, 0.85);
                        }
                        p{
                            font: normal 15px/1.5 'arial';
                            color: #777;
                            margin-bottom: 20px;
                            word-break: break-all;
                            padding: 20px 10px 0;
                        }
                    }
                    .profile{
                        width: 100%;
                        height: 80px;
                        position: relative;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin-right: 15px;
                            float: left;
                            margin-top: 5px;
                        }
                        h4{
                            font: bold 20px/2 'arial';

                            >span{
                                font: normal 12px/1 'arial';
                                color: #777;
                                display: block;
                            }                                
                        }
                                         
                    }
                }
            }
        }
        .reviewMo{
            display: none;
        }
    }
}

// insta------------------------------
#insta{
    width: 100%;
    height: 800px;
    position: relative;
    padding: 100px 0;
    overflow: hidden;

    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        .title{
            width: 100%;
            h2{
                font: normal 40px/1 'Cantata One';
                margin-bottom: 20px;
                letter-spacing: 1px;
            }
            p{
                font: 14px/1 'arial';
                margin-bottom: 30px;
                color: #777;
            }
        }
        .wrap{
            width: 100%;
            .instaSwiper{
                width: 100%;
                height: 420px;
                .swiper-wrapper{
                    width: 25%;
                    height: 100%;
                    .swiper-slide{
                        width: 100%;
                        height: 80%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .swiper-pagination, 
                .swiper-pagination-progressbar, 
                .swiper-pagination-horizontal{
                    width: 100%;
                    height: 4px;
                    left: 0;
                    top: 95%;
                }

                .swiper-pagination-progressbar{
                    width: 50%;

                }
                .swiper-pagination-progressbar-fill{
                    background-color: rgb(102, 133, 127);
                }

            }

        }
    }

}

// footer------------------------------
#footer{
    width: 100%;
    height: 350px;
    background: #f9f9f9;
    overflow: hidden;

    &::after{
        content: '';
        display: block;
        clear: both;
    }
    .inner{
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        padding: 0 50px;
       // border: 3px solid orange;

        .wrap_util{
            width: 600px;
            height: 200px;
            position: absolute;
            top: 50px;
            left: 5px;
           // border: 3px solid blue;

            &::after{
                content: '';
                display: block;
                width: 1180px;
                height: 1px;
                background: #ccc;
                position: absolute;
                bottom: -30px;
                left: -5px;
            }

            ul{
                float: left;
                margin-right: 100px;

                &:last-child{
                    margin-right: 0;
                }

                li{
                    margin-bottom: 25px;
                    
                    a{
                        font: 14px/1 'arial';
                        color: #555;
                        //transition: 1s;

                        &:hover{
                            text-decoration: underline;
                        }
                        
                    }

                }
            }
        }
        .wrap_news{
            width: 350px;
            height: 200px;
            position: absolute;
            top: 50px;
            right: 30px;
           // border: 3px solid blue;

            span{
                display: block;
                margin-bottom: 50px;
                font: bold 15px/1 'arial';
           
                i{
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            input{
                width: 100%;
                height: 30px;
                background: none;
                border: none;
                border-bottom: 1px solid #999; margin-bottom: 30px;
            }
            a{
                display: block;
                width: 120px;
                height: 30px;
                background: rgba(75, 105, 100, 0.85);
                font: normal 12px/30px 'arial';
                text-align: center;
                color: #fff;
                transition: 0.5s;

                &:hover{
                    background: rgba(75, 105, 100, 1);
                }
            }

        }

        p{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            font: 12px/1 'arial';
        }
        .sns{
            float: right;
            width: 280px;
            height: 20px;
            position: absolute;
            bottom: 20px;
            right: 0;

            ul{

                li{
                    float: left;
                    margin-right: 40px;
                    display: flex;

                    &:last-child{
                        margin-right: 0;
                    }
                    
                    a{
                        font-size: 15px;
                        color: rgba(51, 51, 51, 0.80);
                    }

                    &:hover a{

                        color: #333;
                    }
                }                
            }
        }

    }
}

@media screen and(max-width:1179px){
    // header------------------------------
    #header{    
        .inner{
            width: 100%;
            h1{
                left: 3vw;
                a{ font-size: 25px;}
            }
            .menuWeb{
                #gnbWeb{
                    li{
                        margin-left: 30px;
                        a{ font-size: 11px; }
                    }
                }
                .joinWeb{
                    right: 3vw;
                    li{
                        margin-left: 20px;
                        a{ font-size: 11px; }
                    }
                }            
            }
        }
    }
    
    // intro------------------------------
    #intro{
        .inner{
            width: 100%;
            transform: translate(-50%, -20%) scale(1.3);

            .txt{
                h1{font-size: 60px;}
                p{ font-size: 16px;}            
            }
        }
    }
    

    // rooms------------------------------


    // video------------------------------
    #video{
        height: 300px;
        .con{
            width: 100%;           
            padding: 50px 200px;
    
            h1{ font: normal 30px/1 'Cantata One'; }
            p{ font: normal 12px/1.5 'arial'; }
            a{
                height: 25px;
                font: normal 11px/25px 'arial';
            }
        }
    }

    // review------------------------------
    #review{
        .inner{
            width: 100%;
            padding: 0 30px;

            .con{
                h2{ font-size: 30px;}   
                // 페이지네이션 화살표
                .swiper-next{
                    right: 20px;
                    &:hover{ right: 0px; }
                    &::before, &::after{ width: 15px; }
                    span{ width: 40px;}
                }

                .swiper-prev{
                    left: 50px;
                    &:hover{ left: 30px;}
                    &::before, &::after{ width: 15px; }
                    span{ width: 30px;}
                }
            }
    
            .reviewSwiper{
                width: 75%;
                padding: 10px 20px;
                .swiper-wrapper{
                    .swiper-slide{
                        padding: 20px;
                        .txt{ 
                            p{ font-size: 12px;}
                        }
                        .profile{
                            img{
                                width: 40px;
                                height: 40px;
                            }
                            h4{ font-size: 16px;}
                                             
                        }
                    }
                }
            }
            .reviewMo{
                display: none;
            }
        }
    }

    // insta------------------------------
    #insta{
        padding: 100px 30px;

        .inner{
            width: 100%;
            .title{
                h2{ font-size: 30px;}                
            }

            .wrap{
                .instaSwiper{
                    .swiper-wrapper{ width: 33%; }
                }
    
            }
        }
    }
    
    // footer------------------------------
    #footer{
        .inner{
            width: 100%;
            .wrap_util{
                width: 500px;
                left: 50px;

                &::after{
                    width: 100vw;
                    left: -50px;
                }

                ul{
                    margin-right: 80px;
                }
            }
            .wrap_news{
                width: 300px;
                right: 50px;
            }
        }
    }
}

@media screen and (max-width:949px){
    // header------------------------------
    #header{    
        height: 60px;
        .inner{
            h1{
                a{ font-size: 22px;}
            }
            .menuWeb{
                .joinWeb{
                    .popup{
                        top: 60px;
                    }
                }            
            }
        }
    }
    
    // intro------------------------------
    #intro{
        .inner{
            .txt{
                h1{font-size: 50px;}
                p{ font-size: 14px;}            
            }
        }
    }
    
    // rooms------------------------------


    // video------------------------------
    #video{
        .con{
            padding: 50px 100px;
    
            h1{ font: normal 30px/1 'Cantata One'; }
            p{ font: normal 12px/1.5 'arial'; margin-bottom: 30px;}
            a{ font: normal 10px/25px 'arial'; }
        }
    }

    // review------------------------------
    #review{
        height: 550px;
        padding: 50px 0;
        .inner{
            .con{
                width: 100%;
                height: 30%;
                p{ font-size: 12px;} 
                // 페이지네이션 화살표
                .swiper-next{
                    top: 70%;
                    right: auto;
                    left: 90px;
                    &:hover{ right: auto; left: 120px; }
                    &::before, &::after{ width: 15px; }
                }

                .swiper-prev{
                    top: 70%;
                    left: 30px;
                    &:hover{ left: 0px;}
                }
            }
    
            .reviewSwiper{
                width: 100%;
                height: 65%;
                padding: 10px 5px;
            }
        }
    }

    // insta------------------------------
    #insta{
        padding: 50px 30px;
        height: 700px;
    }
    
    // footer------------------------------
    #footer{
        height: 250px;
        .inner{
            width: 100%;
            .wrap_util{
                width: 500px;
                left: 30px;
    
                &::after{ display: none; }
                ul{ 
                    margin-right: 50px; 
                    li a{font-size: 12px;}
                }
            }
            .wrap_news{
                width: 230px;
                right: 30px;
            }
            p, .sns{ display: none; }
        }
    }
}

@media screen and (max-width:749px){
    // header------------------------------
    #header{
        height: 50px;
        .inner{
            h1{
                a{ font-size: 18px; }
            }
            .menuWeb{display: none;}    
            .btnCall {
               // border: 1px solid red;
                display: block;
                width: 18px;
                height: 19px;
                position: absolute;
                right: 3vw;
                bottom: 10px;

                &::before, &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    transition: 1s;
                }
                &::before{top: 0;}
                &::after{bottom: 0;}
                span{ 
                    width: 100%;
                    height: 1px;
                    background: #fff;
                    font-size: 0;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transition: 1s;
                }
                &.on {
                    &::before {
                      top: 50%;
                      margin-top: 0px;
                      transform: rotate(-135deg);
                    }
                    &::after {
                      bottom: 50%;
                      margin-bottom: -1px;
                      transform: rotate(135deg);
                    }
                    span {
                      transform: translateX(50px);
                      opacity: 0;
                    }
                }
            }

            .menuMo{   
                display: block;
                position: fixed;
                width: 240px;
                height: 100vh;
                background: rgba(75, 105, 100, 0.8);
                top: 0; left: -250px;
                padding: 50px 40px;
                transition: ease-in-out 1s;

                &.on{ left: 0px;}
                >.wrap{
                    width: 100%;
                    height: 100%;
                    position: relative;
                //    border: 1px solid red;
                    #gnbMo {
                       // border: 1px solid red;
                        width: 100%;
                        margin-bottom: 10px;

                        li{
                            padding: 20px ;
                            position: relative;
                            text-align: center;
                            a{ 
                                font: normal 14px/1 'arial'; 
                                color: #f3f3f3;
                            }

                            &::after{
                                content: '';
                                display: block;
                                width: 0;
                                height: 1px;
                                background: #fff;
                                position: absolute;
                                bottom: 10px;
                                left: 50%;
                                transform: translateX(-50%);
                                z-index: -1;
                                transition: .5s;
                            }

                            &:hover, &.on{
                                &::after{ width: 58%; }
                            }
                        }
                    }

                    .joinMo{     
                        width: 100%;  

                        li{
                            // border: 1px solid red;   
                            padding: 10px 20px;
                            position: relative;
                            text-align: center;
                            a{
                                font: normal 12px/1 'arial';
                                color: #efefef;
                            }
                            &::after{
                                content: '';
                                display: block;
                                width: 0;
                                height: 1px;
                                background: #fff;
                                position: absolute;
                                bottom: 5px;
                                left: 50%;
                                transform: translateX(-50%);
                                z-index: -1;
                                transition: .5s;
                            }

                            &:hover, &.on{
                                &::after{
                                    width: 33%;
                                }
                            }
                        }
                    }

                    .snsMo{
                       // border: 1px solid red;
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        bottom: 50px;
                        span{
                            font: normal 12px/1 'arial';
                            color: #ddd;
                            margin-bottom: 20px;
                            display: block;
                        }

                        &::after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        ul{
                            width: 100%;
                            li{
                                float: left; 
                                width: calc(100%/4);
                                a{ 
                                    font-size: 18px;
                                    color: rgba(255, 255, 255, 0.5); 
                                    transition: .5s;
                                } 

                                &:hover{
                                    a{color: #fff;}
                                }
                            }
                            
                        }                        
                    }

                    p{
                        // border: 1px solid red;
                        width: 100%;
                        text-align: center;
                        font: 10px/1.5 'arial';
                        color: #ddd;
                        position: absolute;
                        bottom: 0; left: 50%;
                        transform: translateX(-50%);
                    }                     
                }
                   
            }
        }
    }
    
    // intro------------------------------
    #intro{
        .inner{
            .txt{
                span{ font-size: 12px;}
                h1{font-size: 35px;}
                p{ font-size: 12px;}            
            }
        }
    }
    
    // video------------------------------
    #video{
        .con{
            padding: 80px 50px;
    
            p{ display: none;}
        }
    }
    
    // review------------------------------

    #review{
        height: auto;
        padding: 80px 0;
        
        .inner{
            >.con{
                width: 100%;
                display: inline-block;
                margin-bottom: 30px;
                .swiper-next, .swiper-prev{ display: none;}
            }
            .reviewSwiper{ display: none;}

            >.reviewMo{
                display: block;
                float: left;
                padding-bottom: 50px;
                width: 100%;
                position: relative;

                article{
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.904);
                    margin-bottom: 30px;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    .txt{
                        padding: 10px;
                        width: calc(100% - 120px);
                        h4{
                            font: normal 18px/1 'Cantata One';
                            letter-spacing: 1px;
                            color: #555;
                            margin-bottom: 10px;
                        }
                        p{
                            font: normal 12px/1.5 'arial';
                            color: #777;
                            margin-bottom: 10px;
                            width: 100%;
                            word-break: break-all;
                        }
                        span{
                            display: block;
                            text-align: right;
                            font: 10px/1 'arial';
                            color: #999;
                        }
                    }
                }

                a{
                    display: block;
                    font: 12px/1 'arial';
                    text-align: center;
                    color: rgba(255, 255, 255, 0.80);
                    line-height: 30px;
                    display: block;
                    width: 120px;
                    height: 30px;
                    background: rgba(75, 105, 100, 0.8);
                    position: absolute;
                    bottom: 0px;
                    right: 30px;
                    transition: 0.5s;

                    &:hover{
                        background: rgba(75, 105, 100, 1);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }

    // insta------------------------------
    #insta{
        .inner{
            .wrap{
                .instaSwiper{
                    .swiper-wrapper{ width: 50%; }
                }
            }
        }
    }
    
    // footer------------------------------
    #footer{
        height: 240px;
        .inner{
            width: 100%;
            .wrap_util{
                width: 500px;
                left: 30px;
    
                &::after{ display: none; }
                ul{ 
                    margin-right: 40px; 

                    &:nth-of-type(2){ display: none;}
                    li{ margin-bottom: 20px; }                    
                }
            }

            .wrap_news{
                width: 200px;

                span{
                    margin-bottom: 40px;
                    font: bold 12px/1 'arial';
                }
                input{
                    width: 100%;
                    height: 30px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid #999; margin-bottom: 30px;
                }
                a{
                    display: block;
                    width: 100px;
                    height: 25px;
                    background: rgba(75, 105, 100, 0.85);
                    font: normal 11px/25px 'arial';
                }
    
            }
            p, .sns{ display: none; }
        }
    }
}

@media screen and(max-width:539px){
    // header------------------------------
    #header{
        height: 40px;
        .inner{  
            .btnCall {
                width: 15px;
                height: 16px;
            }

            .menuMo{   
                width: 220px;
                padding: 40px 30px;

                >.wrap{
                    #gnbMo {
                        li{
                            padding: 15px ;
                            position: relative;
                            text-align: center;
                            a{font-size: 12px;}
                        }
                    }

                    .joinMo{     
                        li{
                            a{font-size: 10px;}
                        }
                    }

                    .snsMo{
                        span{font-size: 10px;}
                        ul{
                            width: 100%;
                            li{
                                a{ font-size: 15px;} 
                            }
                        }                        
                    }                    
                }     
            }
        }
    }

    // intro------------------------------
    #intro{
        .inner{
            .txt{
                span{ font-size: 12px;}
                h1{line-height: 1.4;}
                p{ 
                    width: 100%;
                    padding: 0 30px;
                }            
            }
        }
    }

    // rooms------------------------------


    // video------------------------------
    #video{ display: none; }
    
    // review------------------------------
    #review{
        padding: 50px 0;
        
        .inner{
            >.con{
                h2{ font-size: 25px;}
            }

            >.reviewMo{
                padding-bottom: 30px;                
                article{
                    width: 100%;
                    padding: 10px;

                    img{ display: none;}
                    .txt{ width: 100%; }
                }

                a{
                    font: 10px/30px 'arial';
                    width: 100px;
                    right: 0;
                }
            }
        }
    }

    // insta------------------------------
    #insta{
        height: 500px;

        .inner{
            .title{
                h2{ font-size: 25px; }
                p{ 
                    font-size: 10px;
                    margin-bottom: 20px;
                }                
            }

            .wrap{
                .instaSwiper{
                    height: 350px;
                    .swiper-wrapper{
                        width: 100%;
                        height: 250px;
                        .swiper-slide{
                            height: 100%;
                            img{ height: 100%; }
                        }
                    }
    
                    // 스와이퍼 네비게이션
                    .swiper-pagination, 
                    .swiper-pagination-progressbar, 
                    .swiper-pagination-horizontal{ top:80%;}
                    // 프로그레스바 너비
                    .swiper-pagination-progressbar{ width: 60%; }

                    
                }
            }
        }
    }
    
    // footer------------------------------
    #footer{
        height: 300px;
        .inner{
            width: 100%;
            padding: 20px;

            .wrap_util{
                width: 100%;
                top: 30px;
                left: 20px;

    
                &::after{ display: none; }
                ul{ 
                    width: 100;
                    margin-right: 40px; 
                    float: auto;

                    &:nth-of-type(2){ display: none;}
                    li{ 
                        float: left;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        a{
                          font: normal 12px/1 'arial';  
                        }
                    }                    
                }
            }

            .wrap_news{
                width: 100%;
                height: 50%;

                top: auto;
                left: 20px;
                bottom: 20px;

                span{
                    margin-bottom: 40px;
                    font: bold 12px/1 'arial';
                }
                input{
                    width: 60%;
                    height: 30px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid #999; margin-bottom: 30px;
                }
                a{
                    display: block;
                    width: 100px;
                    height: 25px;
                    background: rgba(75, 105, 100, 0.85);
                    font: normal 11px/25px 'arial';
                }
    
            }
        }
    }   
}

